@{
    ViewBag.Title = "Legajos | CommonJobs";
    ScriptManager.RegisterCss(Url.Content("~/Content/ie.css"), priority: 500, htmlAttributes: new { media = "screen" }, patchCondition: "lte IE 9");
    ScriptManager.RegisterCss(Url.Content("~/Content/1140.css"), priority: 500, htmlAttributes: new { media = "screen" });
    ScriptManager.RegisterCss(Url.Content("~/Content/reset.css"), priority: 500);
    ScriptManager.RegisterJs(Url.Content("~/Scripts/DataTables/jquery.dataTables.js"));
    ScriptManager.RegisterJs(Url.Content("~/Content/DataTablesHelpers/DataTablesHelpers.js"));
    ScriptManager.RegisterJs(Url.Content("~/Content/EmployeeFiles/EmployeeFiles.js"));    
    ScriptManager.RegisterCss(Url.Content("~/Content/EmployeeFilesBase.less"), priority: 500);
    ScriptManager.RegisterCss(Url.Content("~/Content/DataTables/css/jquery.dataTables.css"));
    ScriptManager.RegisterJs(Url.Content("~/Content/TableTools-2.1.4/media/js/ZeroClipboard.js"));
    ScriptManager.RegisterJs(Url.Content("~/Content/TableTools-2.1.4/media/js/TableTools.js"));
    ScriptManager.RegisterCss(Url.Content("~/Content/TableTools-2.1.4/media/css/TableTools.css"));
    ScriptManager.RegisterGlobalJavascript("TableTools.DEFAULTS.sSwfPath", Url.Content("~/Content/TableTools-2.1.4/media/swf/copy_csv_xls_pdf.swf"));
}

<div class="bootstrap-scope">
    <table id="employee-files-table" class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th>Legajo Nº</th>
                <th>Nombre</th>
                <th>CUIL</th>
                <th>Ingreso</th>
                <th>Banco</th>
                <th>Sucursal</th>
                <th>Nº Cuenta</th>
                <th>CBU</th>
                <th>O. Social</th>
                <th>Convenio</th>
                <th>Tarea</th>
                <th>Nacimiento</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>