@model EmployeeFile.Models.SearchModel

@{
    ViewBag.Title = "Index";
}

<script language="javascript">
    $(function () {
        $("#quicksearch").keyup(function (e) {
            //TODO Fix hardcoded URLs
            if (e.keyCode == 13) {
                location.href = "Employees?term=" + $(this).val();
            } else {
                $(".results").load("Employees/List?term=" + encodeURI($(this).val()));
            }
        });
    });
</script>

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<label for="quicksearch">Quick Search</label><input type="text" id="quicksearch" value="@Model.Term" />

<div class="results">
    @Html.Action("List", Model) 
</div>