@model EmployeeFile.Models.SearchModel
@{
    ViewBag.Title = "Empleados | CommonJobs";
}
<script type="text/javascript">
    //TODO: move it to a .js file
    $(function () {
        $("#quickSearch").keyup(function (e) {
            //TODO Fix hardcoded URLs
            if (e.keyCode == 13) {
                location.href = "/Employees?term=" + $(this).val();
            } else {
                $(".results").load("/Employees/List?term=" + encodeURI($(this).val()));
            }
        });
    });
</script>
<div class="container searchContainer">
    <h1>Empleados</h1>

    <div class="row">
        <div class="threecol"></div>
        <div class="sixcol quickSearchContainer">
            <label for="quickSearch">Búsqueda rápida:</label>
            <input type="text" id="quickSearch" value="@Model.Term" />
        </div>
        <div class="threecol last"></div>
    </div>
</div>
<div class="results">
    @Html.Action("List", Model) 
</div>