/**
 * 
 * Define mixins, functions, 
 * animations, placeholders, 
 * helper classes.
 * 
**/
/*
 * Absolute positioning elements.
 */
/*
 * Control animations.
 */
/*
 * Calculate margin, paddings, positioning, width, height.
 */
/*
 * Style placeholders.
 */
/*
 * Text truncate with an ellipsis.
 */
/*
 * Calculate responsive breakpoints.
 */
/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */
/* line 76, ../../sass/Evaluations/_mixins.scss */
.element-hidden {
  display: none !important;
  visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
/* line 85, ../../sass/Evaluations/_mixins.scss */
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */
/* line 100, ../../sass/Evaluations/_mixins.scss */
.element-invisible {
  visibility: hidden;
}

/*
 * Show element. Block layout.
 */
/* line 108, ../../sass/Evaluations/_mixins.scss */
.element-visible {
  display: block;
}

/*
 * Show element. Inline block layout.
 */
/* line 116, ../../sass/Evaluations/_mixins.scss */
.element-visible-inline {
  display: inline-block !important;
}

/*
 * Pull element to the left.
 */
/* line 124, ../../sass/Evaluations/_mixins.scss */
.pull-left {
  float: left;
}

/*
 * Pull element to the right.
 */
/* line 132, ../../sass/Evaluations/_mixins.scss */
.pull-right {
  float: right;
}

/*
 * Clear floats.
 */
/* line 140, ../../sass/Evaluations/_mixins.scss */
.clearfix {
  zoom: 1;
}
/* line 142, ../../sass/Evaluations/_mixins.scss */
.clearfix:before, .clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}
/* line 148, ../../sass/Evaluations/_mixins.scss */
.clearfix:after {
  clear: both;
}

/* line 7, ../../sass/Evaluations/_base.scss */
html, body {
  margin: 0;
  padding: 0;
}

/* line 12, ../../sass/Evaluations/_base.scss */
body {
  font: 100% Arial, Helvetica, initial;
}

/* line 16, ../../sass/Evaluations/_base.scss */
* {
  box-sizing: border-box;
}

/* line 20, ../../sass/Evaluations/_base.scss */
header {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #000;
  color: white;
  height: 60px;
  width: 100%;
  padding: 10px 0px;
  z-index: 99999;
}

/* line 32, ../../sass/Evaluations/_base.scss */
.content {
  min-width: 1024px;
  width: 100%;
  padding: 60px 50px 0;
}

/* line 38, ../../sass/Evaluations/_base.scss */
li {
  list-style: none;
  padding-left: 20px;
}

/* line 43, ../../sass/Evaluations/_base.scss */
h1 {
  margin: 0;
  padding-left: 50px;
}

/* line 48, ../../sass/Evaluations/_base.scss */
table {
  border-spacing: 0;
  width: 100%;
  margin-bottom: 20px;
}

/* line 54, ../../sass/Evaluations/_base.scss */
.title {
  background-color: #FFFFFF;
  color: #000000;
  width: 100%;
  padding: 10px 0px;
  margin: 0;
  height: 60px;
}

/* line 64, ../../sass/Evaluations/_base.scss */
tr:nth-child(even) {
  background-color: #FFFFFF;
}

/* line 68, ../../sass/Evaluations/_base.scss */
tr:nth-child(odd) {
  background-color: #F2F4F5;
}

/* line 72, ../../sass/Evaluations/_base.scss */
tr {
  height: 45px;
}

/* line 76, ../../sass/Evaluations/_base.scss */
th, td {
  text-align: left;
  color: #444;
}

/* line 3, ../../sass/Evaluations/_generate-evaluation.scss */
th {
  background-color: #FFFFFF;
  padding: 10px;
  border-top: 1px solid #CCC;
  border-bottom: 1px solid #CCC;
}

/* line 10, ../../sass/Evaluations/_generate-evaluation.scss */
td {
  padding: 5px 10px;
  font-size: 0.85em;
}

/* line 15, ../../sass/Evaluations/_generate-evaluation.scss */
tr.evaluation-generated td {
  color: #777;
}

/* line 19, ../../sass/Evaluations/_generate-evaluation.scss */
.generate-evaluation-button {
  background-color: #4499F4;
  padding: 15px;
  float: right;
  color: white;
  border-radius: 5px;
  border: none;
}

/* line 28, ../../sass/Evaluations/_generate-evaluation.scss */
.generate-evaluation-button:disabled {
  background-color: #ccc;
}

/* line 32, ../../sass/Evaluations/_generate-evaluation.scss */
input {
  width: 100%;
}

/* line 36, ../../sass/Evaluations/_generate-evaluation.scss */
th.selected {
  color: #000000;
}

/* line 40, ../../sass/Evaluations/_generate-evaluation.scss */
td.selected {
  color: #000000;
}

/* line 4, ../../sass/Evaluations/_responsible.scss */
.rol {
  text-align: center;
}

/* line 8, ../../sass/Evaluations/_responsible.scss */
a.calification-links {
  text-decoration: none;
  color: inherit;
}

/* line 13, ../../sass/Evaluations/_responsible.scss */
.calification-links.disable {
  color: #777;
}

/* line 17, ../../sass/Evaluations/_responsible.scss */
.link-responsable {
  border: none;
  padding: 10px;
  text-decoration: underline;
  cursor: pointer;
  color: inherit;
}

/* line 25, ../../sass/Evaluations/_responsible.scss */
i {
  padding-left: 20px;
  background-size: contain;
  background-repeat: no-repeat;
}

/* line 31, ../../sass/Evaluations/_responsible.scss */
i.add {
  background-image: url("../Images/Evaluations/1-02.svg");
}

/* line 35, ../../sass/Evaluations/_responsible.scss */
i.edit {
  background-image: url("../Images/Evaluations/6-02.svg");
}

/* line 39, ../../sass/Evaluations/_responsible.scss */
i.user {
  background-image: url("../Images/Evaluations/3-02.svg");
}

/* line 43, ../../sass/Evaluations/_responsible.scss */
i.empresa {
  background-image: url("../Images/Evaluations/7-02.svg");
}

/* line 47, ../../sass/Evaluations/_responsible.scss */
i.view {
  background-image: url("../Images/Evaluations/4-02.svg");
}

/* line 51, ../../sass/Evaluations/_responsible.scss */
.devolucion {
  background-color: #4499F4;
  color: white;
  border: none;
  padding: 5px;
  border-radius: 5px;
  width: 90px;
}

/* line 60, ../../sass/Evaluations/_responsible.scss */
li.green:before {
  /* For a round bullet */
  content: '\2022';
  display: block;
  position: relative;
  max-width: 0;
  max-height: 0;
  left: -15px;
  top: -15px;
  color: #6DC32E;
  font-size: 36px;
}

/* line 73, ../../sass/Evaluations/_responsible.scss */
li.blue:before {
  /* For a round bullet */
  content: '\2022';
  display: block;
  position: relative;
  max-width: 0;
  max-height: 0;
  left: -15px;
  top: -15px;
  color: #4499F4;
  font-size: 36px;
}

/* line 86, ../../sass/Evaluations/_responsible.scss */
li.red:before {
  /* For a round bullet */
  content: '\2022';
  display: block;
  position: relative;
  max-width: 0;
  max-height: 0;
  left: -15px;
  top: -15px;
  color: #EB4A2F;
  font-size: 36px;
}

/* line 1, ../../sass/Evaluations/_add-calificator.scss */
.content-modal {
  width: 200px;
  border: 1px solid #D9D9D9;
  padding: 8px;
  height: 245px;
  border-radius: 5px;
}

/* line 9, ../../sass/Evaluations/_add-calificator.scss */
.modal-title {
  position: relative;
  height: 22px;
  border-bottom: 1px solid #D9D9D9;
}

/* line 15, ../../sass/Evaluations/_add-calificator.scss */
.modal-title h4 {
  color: #7F7F7F;
  width: auto;
  float: left;
  padding: 0;
  margin: 0;
}

/* line 23, ../../sass/Evaluations/_add-calificator.scss */
.modal-title i.delete {
  background-image: url("../Images/Evaluations/2-02.svg");
  float: right;
  padding: 9px;
  margin-right: 10px;
}

/* line 30, ../../sass/Evaluations/_add-calificator.scss */
input[type="search"] {
  height: 30px;
  margin: 15px 0px;
  background-color: #ECECFB;
  border: none;
  border-radius: 5px;
  background-image: url("../Images/Evaluations/8-02.svg");
  background-repeat: no-repeat;
  background-position-x: 154px;
  background-size: 18px;
  background-position-y: 4px;
}

/* line 43, ../../sass/Evaluations/_add-calificator.scss */
.content-add-calificadores {
  height: 100px;
  padding: 0;
  margin-bottom: 10px;
}

/* line 49, ../../sass/Evaluations/_add-calificator.scss */
.content-add-calificadores ul {
  padding: 0;
  margin: 0;
}

/* line 54, ../../sass/Evaluations/_add-calificator.scss */
.content-add-calificadores li {
  padding: 0px;
  color: #777777;
  border-bottom: 1px solid #D9D9D9;
  padding-bottom: 5px;
  padding-top: 5px;
}

/* line 62, ../../sass/Evaluations/_add-calificator.scss */
a.cancelar {
  float: left;
  padding: 5px 0px;
  text-decoration: underline;
  color: #777777;
}

/* line 69, ../../sass/Evaluations/_add-calificator.scss */
a.guardar {
  float: right;
  padding: 5px 15px;
  background-color: #4499F4;
  color: white;
  border-radius: 5px;
}

/* line 1, ../../sass/Evaluations/_evaluation.scss */
.evaluacion th, .evaluacion td {
  border: none;
}

/* line 4, ../../sass/Evaluations/_evaluation.scss */
.top-left {
  width: 50%;
  position: relative;
  height: 250px;
  float: left;
  padding: 10px;
}

/* line 12, ../../sass/Evaluations/_evaluation.scss */
.top-right {
  width: 50%;
  position: relative;
  height: 250px;
  float: right;
  padding: 10px;
}

/* line 20, ../../sass/Evaluations/_evaluation.scss */
.top-right h4, .top-left h4 {
  border-bottom: 1px solid;
  margin-top: 0;
}

/* line 25, ../../sass/Evaluations/_evaluation.scss */
.evaluadores {
  background-color: #AAAAAA;
  color: white;
}

/* line 30, ../../sass/Evaluations/_evaluation.scss */
.title-evaluacion {
  background-color: #888888;
  color: white;
}

/* line 35, ../../sass/Evaluations/_evaluation.scss */
.sub-title-evaluacion {
  background-color: #656565;
  color: white;
}

/* line 40, ../../sass/Evaluations/_evaluation.scss */
.evaluacion th:first-child {
  width: 70%;
  text-align: left;
}

/* line 45, ../../sass/Evaluations/_evaluation.scss */
.evaluacion td:first-child {
  width: 80%;
  text-align: left;
}

/* line 50, ../../sass/Evaluations/_evaluation.scss */
.evaluacion td, .evaluacion th {
  text-align: center;
}

/* line 54, ../../sass/Evaluations/_evaluation.scss */
h5.inf-personal {
  width: 50%;
  position: relative;
  float: left;
  margin-bottom: 15px;
  margin-top: 0;
}

/* line 62, ../../sass/Evaluations/_evaluation.scss */
.top-left span {
  font-weight: 500;
}

/* line 66, ../../sass/Evaluations/_evaluation.scss */
.top-right span {
  font-weight: 500;
}

/* line 70, ../../sass/Evaluations/_evaluation.scss */
.comentarios-generales {
  width: 100%;
  height: 165px;
}

/* line 75, ../../sass/Evaluations/_evaluation.scss */
input.calificacion {
  width: 50%;
}
