@import "../StylesBase.less";
@import "../EditCommon/EditScreen.less";

.isPublic {
	float: right;

	a {
		text-decoration: none;
	}
}

.checkmark {
	font-size: 3.5em;

	&.checked {
		color: #208DA8;
	}

	&.nonChecked {
		color: #DBDBDB;
		text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	}
}

h1 {
	margin-bottom: 0;
}

.title {
	float: left;
}

.publicCode {
	clear: both;
}

.editable-field {
	margin-bottom: 1em;
}

.suggestedApplicants {
	/*
	.applicant-skill-level-0 { background-color: transparent; }
	.applicant-skill-level-1 { background-color: darken(#f2dede, 10%); } //@errorBackground
	.applicant-skill-level-2 { background-color: darken(#fcf8e3, 10%); } //@warningBackground
	.applicant-skill-level-3 { background-color: darken(#dff0d8, 10%); } //@successBackground
	*/

	.table.table-hover {

		th { 
			font-weight: normal;

			&.name-title {
				width: 200px;
				font-weight: bold;
			}

			&.required { 
				font-weight: bold; 
			}

			&.skill-header {
				text-align: center;
				/*TODO fix -- right now messes up the layout
				-moz-transform: rotate(-60deg) translateY(-60px);
				-webkit-transform: rotate(-60deg) translateY(-60px);
				-o-transform: rotate(-60deg) translateY(-60px);
				-ms-transform: rotate(-60deg) translateY(-60px);
				transform: rotate(-60deg) translateY(-60px);
				*/
			}
		}

		td .level-indicator {
			width: 50px;
			display: block;
			margin: 0 auto;
		}

		td.applicant-skill-level-0 .level-indicator { background-color: transparent; }
		td.applicant-skill-level-1 .level-indicator { background-color: darken(#f2dede, 10%); } //@errorBackground
		td.applicant-skill-level-2 .level-indicator { background-color: darken(#fcf8e3, 10%); } //@warningBackground
		td.applicant-skill-level-3 .level-indicator { background-color: darken(#dff0d8, 10%); } //@successBackground
	}

	.no-applicants-notice {
		font-style: italic;
		text-align: center;
	}
}
