@{
    ScriptManager.RegisterJs(Url.Content("~/Scripts/jquery-1.7.1.min.js"), priority: 900);
    ScriptManager.RegisterJs(Url.Content("~/Scripts/jquery-ui-1.8.17.min.js"), priority: 900);
    ScriptManager.RegisterJs(Url.Content("~/Scripts/jquery-ui-i18n.min.js"), priority: 900);
    ScriptManager.RegisterJs(Url.Content("~/Scripts/modernizr-1.7.min.js"), priority: 900);
    ScriptManager.RegisterJs(Url.Content("~/Scripts/json2.min.js"), priority: 900);
    ScriptManager.RegisterGlobalizationEntries(Url.Content("~/Scripts/jquery.globalize"), priority: 900);
    ScriptManager.RegisterCss(Url.Content("~/Content/themes/base/jquery.ui.all.css"), priority: 900);
    ScriptManager.RegisterCss(Url.Content("~/Content/Site.css"), priority: 900);
    ScriptManager.RegisterCss(Url.Content("~/Content/menu_style.css"), priority: 900);
    ScriptManager.RegisterJs(Url.Content("~/Scripts/css3-mediaqueries.js"), priority: 900);
    ScriptManager.RegisterJs(Url.Content("~/Scripts/underscore.js"), priority: 900);
    ScriptManager.RegisterJs(Url.Content("~/Scripts/backbone.js"), priority: 900);
    ScriptManager.RegisterGlobalJavascript("baseUrl", Url.Content("~"), priority: 900);
    ScriptManager.RegisterJs(Url.Content("~/Scripts/url-generator.js"), priority: 900);
}

<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    @Html.RenderScriptManagerEntries()
</head>
<body>
    <div class="page">
        <div>
        <ul class="menu">
            <li class="top"><a href="/Account/LogOn/" target="_self" class="top_link"><span>Iniciar Sesion</span></a>
            </li>
            <li class="top"><a href="/Applicants/Index/" target="_self" class="top_link"><span>Postulantes</span></a>
            </li>
            <li class="top"><a href="/Employees/Index/" target="_self" class="top_link"><span>Empleados</span></a>
            </li>
        </ul>
        </div>
        <section id="main">
            @RenderBody()
        </section>
    </div>
</body>
</html>
