@{
  var environment = System.Configuration.ConfigurationManager.AppSettings["CommonJobs/Environment"];
  if (!"PROD".Equals(environment, StringComparison.InvariantCultureIgnoreCase))
  {
    @Raven.Client.MvcIntegration.RavenProfiler.CurrentRequestSessions()
    <li class="environmentBanner">
      <span>ENTORNO DE PRUEBAS (@environment)</span>
    </li>
  }
}
  
  