@{
  var environment = System.Configuration.ConfigurationManager.AppSettings["CommonJobs/Environment"];
  if (!"PROD".Equals(environment, StringComparison.InvariantCultureIgnoreCase))
  {
    <div style='background-color:Yellow; font-weight:bold; color:Red'>ENTORNO DE PRUEBAS (@environment)</div>
  }
}
  
  