<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="IronJS" version="0.2.0.1" targetFramework="net40" />
  <package id="IronJS.Core" version="0.2.0.1" targetFramework="net40" />
  <package id="Jurassic" version="2.1.1" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net45" />
  <package id="NLog" version="2.0.0.2000" requireReinstallation="True" />
</packages>