@model CommonJobs.Domain.Employee
           
@{
    ViewBag.Title = "Edit";
    ScriptManager.RegisterCss(Url.Content("~/Scripts/mdd_styles.css"));
    ScriptManager.RegisterJs(Url.Content("~/Scripts/MarkdownDeepLib.min.js"));
    ScriptManager.RegisterJs(Url.Content("~/Scripts/nervoustissue.js"));
    ScriptManager.RegisterJs(Url.Content("~/Scripts/nervoustissue-uploader.js"));
    ScriptManager.RegisterCss(Url.Content("~/Content/EditEmployee/EditEmployee.less"));
    ScriptManager.RegisterJs(Url.Content("~/Content/EditEmployee/EditEmployee.js"));
}
@if (false)
{
    <link href="../../Content/EditEmployee/EditEmployee.css" rel="stylesheet" type="text/css" />
    <script src="../../Content/EditEmployee/EditEmployee.js" type="text/javascript"></script>
}
<div id="EditApp" class="edition-normal">
    

    <div class="editing-bar">
        <div class="references">
            <h3>Referencias</h3>
            <ul>
                <li>Click en un <span class="reference-editable-field">campo subrayado</span> para editarlo.</li>
                <li>Click en <em>Guardar Cambios</em> luego de editar.</li>
                <li>Click en <em>Modo de edición &rarr; Todos los campos</em> para editar todos los campos.</li>
            </ul>
        </div>
        <div class="edition-mode">
            <h3>Modo de edición</h3>
            <p><button class="editionNormal">Normal</button></p>
            <p><button class="editionFullEdit">Todos los campos</button></p>
            <!-- <p><button class="editionReadonly">Solo lectura</button></p> -->
        </div>
        <div class="change-management-options">
            <h3>Cambios</h3>
            <p><button class="saveEmployee">Guardar cambios</button></p>
            <p><button class="reloadEmployee">Descartar cambios</button></p>
        </div>
        <div class="danger-zone">
            <h3>Precaución!</h3>
            <p><button class="deleteEmployee">Eliminar empleado</button></p>
        </div>
        <div class="back-link">
        @Html.ActionLink("« Volver al listado", "Index")
    </div>
    </div>
    
    <h1 class="editable-field" data-bind="fullName"></h1>

    <div id="info-header">
        <div class="editable-field employee-photo" data-bind="Photo"></div>
        <div class="main-data">
            <ul>
                <li><span class="field-name">Posición:</span><span class="editable-field" data-bind="CurrentPosition"></span></li>
                <li class="additional-info">(<span class="field-name">Posición inicial:</span><span class="editable-field" data-bind="InitialPosition"></span>)</li>
                <li><span class="field-name">Proyecto Actual:</span><span class="editable-field" data-bind="CurrentProject"></span></li>
                <li><span class="field-name">Título:</span><span class="editable-field" data-bind="Degree"></span> (<span class="editable-field" data-bind="IsGraduated"><span class="view-editable view-editable-prototype">No graduado</span></span>)</li>
            </ul>
        </div>
    </div>

    <div class="info-section">
        <h2>Datos Personales</h2>
        <div class="personal-data">
            <h3>Información personal</h3>
            <ul>
                <li><span class="field-name">Fecha de nacimiento:</span><span class="editable-field" data-bind="BirthDate"><span class="view-editable view-editable-prototype">5 de Octubre de 1984 (28 años)</span></span></li>
                <li><span class="field-name">Estado Civil:</span><span class="editable-field" data-bind="MaritalStatus"><span class="view-editable view-editable-prototype">Soltero</span></span></li>
                <li><span class="field-name">Dirección:</span><span class="editable-field" data-bind="Address"></span></li>
                <li><span class="field-name">Teléfonos:</span><span class="editable-field" data-bind="Telephones"</span></li>
                <li><span class="field-name">Plataforma:</span><span class="editable-field" data-bind="Platform"></span></li>
            </ul>
        </div>
        <div class="aptitude-data additional-info-section">
            <h3>Aptitudes</h3>
            <ul>
                <li><span class="field-name">Seniority:</span><span class="editable-field" data-bind="Seniority"></span></li>
                <li><span class="field-name">Nivel de Inglés:</span><span class="editable-field" data-bind="EnglishLevel"></span></li>
                <li><span class="field-name">Título:</span><span class="editable-field" data-bind="Degree"></span> (<span class="editable-field" data-bind="IsGraduated"><span class="view-editable view-editable-prototype">No graduado</span></span>)</li>
                <li><span class="field-name">Universidad:</span><span class="editable-field" data-bind="College"></li>
                <li><span class="field-name">Skills:</span><span class="editable-field" data-bind="Skills"></span></li>
                <li><span class="field-name">Certificaciones:</span><span class="editable-field" data-bind="Certifications"></span></li>
            </ul>
        </div>   
    </div>
    <div class="info-section">
        <h2>Datos Laborales</h2>
        <div class="Employment-data">
            <h3>Relación con la empresa</h3>
            <ul>
                <li><span class="field-name">Legajo:</span><span class="editable-field" data-bind="FileId"></span></li>
                <li><span class="field-name">Fecha de ingreso:</span><span class="editable-field" data-bind="HiringDate"><span class="view-editable view-editable-prototype">15 de Octubre de 2009 (3 años)</span></span></li>
                <li><span class="field-name">Carga Horaria:</span><span class="editable-field" data-bind="WorkingHours"><span class="view-editable view-editable-prototype">41 horas</span></span></li>
                <li><span class="field-name">Horario:</span><span class="editable-field" data-bind="Schedule"></span></li>
                <li><span class="field-name">Acuerdo:</span><span class="editable-field" data-bind="Agreement"></span></li>
            </ul>
            <h3>Remuneración <span class="confidential-info-title">Mostrar/Ocultar</span></h3>
            <div class="salary-data confidential-info-data">
                <span class="field-name">Remuneración actual:</span> <span class="view-field" data-bind="CurrentSalary"></span> <br />
                <span class="field-name">Remuneración inicial:</span> <span class="view-field" data-bind="InitialSalary"></span> <br />
                <span class="field-name">Cambios salariales:</span>
                <div class="editable-field" data-bind="SalaryChanges"></div> 
            </div>
        </div>
        <div class="misc-data additional-info-section">
            <h3>Otros datos</h3>
            <ul>
                <li><span class="field-name">Almuerzo:</span><span class="editable-field" data-bind="Lunch"><span class="view-editable view-editable-prototype">Si</span></span></li>
                <li><span class="field-name">Cuenta Bancaria:</span><span class="editable-field" data-bind="BankAccount"></span></li>
                <li><span class="field-name">Obra Social:</span><span class="editable-field" data-bind="HealthInsurance"></span></li>
                <li><span class="field-name">Vacaciones</span><span class="editable-field" data-bind="Vacations"></span></li>
            </ul>
        </div>
    </div>    
    <div class="info-section">
        <h2>Notas <span class="confidential-info-title">Mostrar/Ocultar</span></h2>
        <div class="editable-field confidential-info-data notes-data" data-bind="Notes"></div> 
    </div>
</div>