@{
    ViewBag.Title = "Edit";
    ScriptManager.RegisterCss(Url.Content("~/Scripts/mdd_styles.css"));
    ScriptManager.RegisterCss(Url.Content("~/Content/EditEmployee/EditEmployee.less"));
    ScriptManager.RegisterCss(Url.Content("~/Content/jquery.Jcrop.min.css"));
    
    ScriptManager.RegisterJs(Url.Content("~/Scripts/jquery.jcrop.min.js"));
    ScriptManager.RegisterJs(Url.Content("~/Scripts/MarkdownDeepLib.min.js"));
    ScriptManager.RegisterJs(Url.Content("~/Scripts/nervoustissue.js"));
    ScriptManager.RegisterJs(Url.Content("~/Scripts/nervoustissue-uploader.js"));
    ScriptManager.RegisterJs(Url.Content("~/Content/EditEmployee/EditEmployee.js"));

    ScriptManager.RegisterJs(Url.Content("~/Scripts/FileUtilities.js"));
}
@if (false)
{
    <link href="../../Content/EditEmployee/EditEmployee.css" rel="stylesheet" type="text/css" />
    <script src="../../Content/EditEmployee/EditEmployee.js" type="text/javascript"></script>
}
<div id="EditApp" class="edition-normal file-dropzone">
    
    <input type="file" class="dropzoneinput" multiple />
    <div class="editing-bar">
        <div class="references">
            <h3>Referencias</h3>
            <ul>
                <li>Click en un <span class="reference-editable-field">campo subrayado</span> para editarlo.</li>
                <li>Click en <em>Guardar Cambios</em> luego de editar.</li>
                <li>Click en <em>Modo de edición &rarr; Todos los campos</em> para editar todos los campos.</li>
            </ul>
        </div>
        <div class="edition-mode">
            <h3>Modo de edición</h3>
            <p><button class="editionNormal">Normal</button></p>
            <p><button class="editionFullEdit">Todos los campos</button></p>
            <!-- <p><button class="editionReadonly">Solo lectura</button></p> -->
        </div>
        <div class="change-management-options">
            <h3>Cambios</h3>
            <p><button class="saveEmployee">Guardar cambios</button></p>
            <p><button class="reloadEmployee">Descartar cambios</button></p>
        </div>
        <div class="danger-zone">
            <h3>¡Precaución!</h3>
            <p><button class="deleteEmployee">Eliminar empleado</button></p>
        </div>
        <div class="back-link">
        @Html.ActionLink("« Volver al listado", "Index")
    </div>
    </div>
    
    <h1 class="editable-field" data-bind="fullName"></h1>

    <div id="info-header">
        <div class="editable-field photo" data-bind="Photo"></div>
        <div class="main-data">
            <ul>
                <li><span class="field-name">Posición:</span><span class="editable-field" data-bind="CurrentPosition" data-suggest="Position"></span></li>
                <li class="additional-info">(<span class="field-name">Posición inicial:</span><span class="editable-field" data-bind="InitialPosition" data-suggest="Position"></span>)</li>
                <li><span class="field-name">Proyecto Actual:</span><span class="editable-field" data-bind="CurrentProject" data-suggest="Project"></span></li>
                <li><span class="field-name">Título:</span><span class="editable-field" data-bind="Degree" data-suggest="Degree"></span> (<span class="editable-field" data-bind="IsGraduated"><span class="view-editable view-editable-prototype">No graduado</span></span>)</li>
                <li class="additional-info"><span class="field-name">Usuario de Dominio:</span><span class="editable-field" data-bind="UserName"></span></li>
                <li class="additional-info"><span class="field-name">Email Corporativo:</span><span class="editable-field" data-bind="CorporativeEmail" data-suggest="EmailDomain"></span></li>
            </ul>
        </div>
    </div>

    <div class="info-section">
        <h2>Datos Personales</h2>
        <div class="personal-data">
            <h3>Información personal</h3>
            <ul>
                <li><span class="field-name">Fecha de nacimiento:</span><span class="editable-field" data-bind="BirthDate"><span class="view-editable view-editable-prototype">5 de Octubre de 1984 (28 años)</span></span></li>
                <li><span class="field-name">Estado Civil:</span><span class="editable-field" data-bind="MaritalStatus"><span class="view-editable view-editable-prototype">Soltero</span></span></li>
                <li><span class="field-name">Dirección:</span><span class="editable-field" data-bind="Address"></span></li>
                <li><span class="field-name">Teléfonos:</span><span class="editable-field" data-bind="Telephones"></span></li>
                <li><span class="field-name">Email Personal:</span><span class="editable-field" data-bind="Email" data-suggest="EmailDomain"></span></li>
                <li><span class="field-name">Plataforma:</span><span class="editable-field" data-bind="Platform" data-suggest="Platform"></span></li>
                <li><span class="field-name">CUIL:</span><span class="editable-field" data-bind="Cuil"></span></li>
            </ul>
        </div>
        <div class="aptitude-data additional-info-section">
            <h3>Aptitudes</h3>
            <ul>
                <li><span class="field-name">Seniority:</span><span class="editable-field" data-bind="Seniority" data-suggest="Seniority"></span></li>
                <li><span class="field-name">Nivel de Inglés:</span><span class="editable-field" data-bind="EnglishLevel" data-suggest="EnglishLevel"></span></li>
                <li><span class="field-name">Título:</span><span class="editable-field" data-bind="Degree" data-suggest="Degree"></span> (<span class="editable-field" data-bind="IsGraduated"><span class="view-editable view-editable-prototype">No graduado</span></span>)</li>
                <li><span class="field-name">Universidad:</span><span class="editable-field" data-bind="College" data-suggest="College"></span></li>
                <li><span class="field-name">Skills:</span><span class="editable-field" data-bind="Skills"></span></li>
                <li>
                  <span class="field-name">Certificaciones:</span>
                  <div class="editable-field" data-bind="Certifications"></div>
                </li>
            </ul>
        </div>   
    </div>
    <div class="info-section">
        <h2>Datos Laborales</h2>
        <div class="Employment-data">
            <h3>Relación con la empresa</h3>
            <ul>
                <li><span class="field-name">Legajo:</span><span class="editable-field" data-bind="FileId"></span></li>
                <li><span class="field-name">Fecha de ingreso:</span><span class="editable-field" data-bind="HiringDate"><span class="view-editable view-editable-prototype">15 de Octubre de 2009 (3 años)</span></span></li>
                <li><span class="field-name">Carga Horaria:</span><span class="editable-field" data-bind="WorkingHours"><span class="view-editable view-editable-prototype">41 horas</span></span></li>
                <li><span class="field-name">Horario:</span><span class="editable-field" data-bind="Schedule"></span></li>
                <li><span class="field-name">Acuerdo:</span><span class="editable-field" data-bind="Agreement" data-suggest="Agreement"></span></li>
            </ul>
            <h3>Remuneración <span class="confidential-info-title">Mostrar/Ocultar</span></h3>
            <div class="salary-data confidential-info-data">
                <span class="field-name">Remuneración actual:</span> <span class="view-field" data-bind="CurrentSalary"></span> <br />
                <span class="field-name">Remuneración inicial:</span> <span class="view-field" data-bind="InitialSalary"></span> <br />
                <span class="field-name">Cambios salariales:</span>
                <div class="editable-field" data-bind="SalaryChanges"></div> 
            </div>
        </div>
        <div class="misc-data additional-info-section">
            <h3>Datos bancarios</h3>
            <ul>
                <li><span class="field-name">Banco:</span><span class="editable-field" data-bind="BankName" data-suggest="BankName"></span></li>
                <li><span class="field-name">Sucursal:</span><span class="editable-field" data-bind="BankBranch" data-suggest="BankBranch"></span></li>
                <li><span class="field-name">CBU:</span><span class="editable-field" data-bind="UniqueBankCode"></span></li>
                <li><span class="field-name">Número de cuenta:</span><span class="editable-field" data-bind="BankAccount"></span></li>
            </ul>
            <h3>Otros datos</h3>
            <ul>
                <li><span class="field-name">Obra Social:</span><span class="editable-field" data-bind="HealthInsurance" data-suggest="HealthInsurance"></span></li>
                <li><span class="field-name">Almuerzo:</span><span class="editable-field" data-bind="Lunch"><span class="view-editable view-editable-prototype">Si</span></span></li>
            </ul>
        </div>
        <div class="info-section">
            <h2>Vacaciones <span class="confidential-info-title">Mostrar/Ocultar</span></h2>
            <div class="confidential-info-data">
                <div class="vacation-items editable-field" data-bind="Vacations"></div>
            </div>
        </div>
    </div>    
    <div class="info-section files-data file-dropzone">
        <h2>Archivos adjuntos</h2>
        <div class="attachment-container"></div>
        <p class="uiInstruction clearFloats">Arrastre un archivo aquí para adjuntarlo a este empleado.</p>
    </div>
    <div class="info-section">
        <h2>Notas <span class="confidential-info-title">Mostrar/Ocultar</span></h2>
        <div class="editable-field confidential-info-data notes-data" data-bind="Notes"></div> 
    </div>
</div>

<div class="bootstrap-scope">
    <div class="modal fade" id="generic-modal">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">×</button>
            <h3 class="person-name"></h3>
            <h6 class="title"></h6>
        </div>
        <div class="modal-body">
            <div class="file-list">
            </div>
            <br />
            <div class="slots"></div>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn close-button" data-dismiss="modal">Cerrar</a>
        </div>
    </div>
</div>

<script type="text/template" id="regular-slot-template">
    <div class="attachment-slot">
        <p><%= SlotName %></p>
        <a href="<%= Url %>">
            <div class="file-icon">
                <div class="file-delete">&#x2717;</div>
                <p class="file-icon-image"><img src="<%= FileSearchUtilities.fileSmallIconFromExtension(FileName) %>" alt="<%= FileName %>" /></p>
                <p class="file-name"><%= FileName %></p>
            </div>
        </a>
    </div>
</script>

<script type="text/template" id="empty-slot-template">
    <div class="attachment-slot">
        <p><%= SlotName %></p>
        <div class="attachment-slot-empty">
            <p>(Faltante)</p>
        </div>
    </div>
</script>

<script type="text/template" id="slot-button-template">
    <input type="button" class="btn btn-primary" value="<%= model.caption %>" /> 
</script>

<script type="text/template" id="available-slots-template">
    <div class="slots">
    <% if (model.singleFile) {%>
        <p>Seleccione el slot al que se subirá el archivo:</p>
        <div class="slots-necessity-2" style="display: none">
            <h5>Slots requeridos</h5>
        </div>
        <div class="slots-necessity-1" style="display: none">
            <h5>Slots deseables</h5>
        </div>
        <div class="slots-necessity-0">
            <h5>Slots opcionales</h5><input type="button" class="btn btn-primary slot-general" value="Otros forms (En notas)" />
        </div>
    <% } else {%>
        <input type="button" class="btn btn-primary slot-general" value="Guardar en notas" />
        <br /><br />
        <p><em>Se está arrastrando más de un archivo. Para seleccionar un slot diferente los archivos deben arrastrarse de manera individual.</em></p>
    <% } %>
        <br />
    </div>
</script>
