@model CommonJobs.Infrastructure.EmployeeSearching.EmployeeSearchParameters
@{
    ViewBag.Title = "Empleados | CommonJobs";
    ScriptManager.RegisterCss(Url.Content("~/Content/ie.css"), priority: 500, htmlAttributes: new { media = "screen" }, patchCondition: "lte IE 9");
    ScriptManager.RegisterCss(Url.Content("~/Content/1140.css"), priority: 500, htmlAttributes: new { media = "screen" });
    ScriptManager.RegisterCss(Url.Content("~/Content/reset.css"), priority: 500);
    ScriptManager.RegisterCss(Url.Content("~/Content/EmployeesListing.less"));
}
<script type="text/javascript">
    //TODO: move it to a .js file
    $(function () {
        function setResultCount() {
            $("#resultCount").html($(".card").length - 1);
        }

        var loadResultsXHR = null;
        $(".results").ajaxSend(function (event, jqXHR, ajaxOptions) {
            if (loadResultsXHR)
                loadResultsXHR.abort();
            loadResultsXHR = jqXHR;
        });

        function search(ajax) {
            //TODO Fix hardcoded URLs

            var query = "?term=" + encodeURI($("#quickSearch").val());
            if ($("#SearchInAttachmentsCheck").prop("checked"))
                query += "&SearchInAttachments=true";
            if ($("#SearchInNotesCheck").prop("checked"))
                query += "&SearchInNotes=true";

            if (ajax) {
                $(".results").load("/Employees/List" + query, null, setResultCount);
            } else {
                location.href = "/Employees" + query;
            }
        }

        $("#quickSearch").keyup(function (e) {
            search(e.keyCode != 13);
        });

        $("#SearchInAttachmentsCheck, #SearchInNotesCheck").change(function () {
            search(true);
        });

        $("#quickSearchSubmit").click(function () {
            search(false);
        });

        setResultCount();
    });
</script>
<div class="container searchContainer">
    <h1>Administración de Empleados</h1>

    <div class="row">
        <div class="twocol"></div>
        <div class="eightcol quickSearchContainer">
            <form method="get" action="javascript:void(0);">
                <div class="mainSearch">
                    <label for="quickSearch">Búsqueda rápida:</label>
                    <input type="text" id="quickSearch" name="Term" value="@Model.Term" />
                    <input type="submit" id="quickSearchSubmit" value=">>" />
                </div>
                <div class="secondarySearch">
                    <label>¿Buscar en notas?</label><input type="checkbox" id="SearchInNotesCheck" name="SearchInNotes" @(Model.SearchInNotes ? "checked='checked'" : string.Empty) />
                    <label>¿Buscar en adjuntos?</label><input type="checkbox" id="SearchInAttachmentsCheck" name="SearchInAttachments" @(Model.SearchInAttachments ? "checked='checked'" : string.Empty) />
                </div>
            </form>
            <p id="resultCountNotice">Hay <span id="resultCount">0</span> resultado(s).</p>
        </div>
        <div class="twocol last"></div>
    </div>
</div>
<div class="results">
    @Html.Action("List", Model) 
</div>