@using Docs.Core
@{ Page.Title = "NuGet Docs"; }

<h1>Welcome to NuGet Docs</h1>

<p>
    NuGet is a Visual Studio 2010 extension that makes it easy to add, remove, and update 
    libraries and tools in Visual Studio projects that use the .NET Framework. This topic 
    lists documentation that will help you use NuGet packages and create your own.
</p>

@TopicHelper.TopicList("~/docs")