@model CommonJobs.Mvc.UI.Areas.Evaluations.Models.Calification
@{
    ViewBag.Title = "Califications";
    Layout = "~/Areas/Evaluations/Views/Shared/_Layout.cshtml";
    ScriptManager.RegisterCss(Url.Content("~/Content/twitter-bootstrap/less/bootstrap.less"), priority: 900);
    ScriptManager.RegisterCss(Url.Content("~/Content/twitter-bootstrap/less/responsive.less"), priority: 900);
    ScriptManager.RegisterCss(Url.Content("~/Content/Evaluations/evaluations.css"));
    ScriptManager.RegisterGlobalJavascript("baseUrl", Url.Content("~"), priority: 900);
    ScriptManager.RegisterJs(Url.Content("~/Scripts/jquery-1.7.2.min.js"), priority: 900);
    ScriptManager.RegisterJs(Url.Content("~/Scripts/underscore.js"), priority: 900);
    ScriptManager.RegisterJs(Url.Content("~/Content/twitter-bootstrap/js/bootstrap-typeahead.js"), priority: 900);
    ScriptManager.RegisterJs(Url.Content("~/Content/twitter-bootstrap/js/bootstrap-modal.js"), priority: 900);
    ScriptManager.RegisterJs(Url.Content("~/Scripts/url-generator.js"), priority: 900);
    ScriptManager.RegisterJs(Url.Content("~/Scripts/knockout-2.2.0.js"), priority: 900);
    ScriptManager.RegisterJs(Url.Content("~/Scripts/Evaluations/common.js"));
    ScriptManager.RegisterJs(Url.Content("~/Scripts/Evaluations/calification.js"));
}

<div class="content-evaluation evaluation">
    <div data-bind="if: userView == 0"><h2 class="title-evaluations">Evaluación de <strong data-bind="text: evaluation.fullName"></strong></h2></div>
    <div data-bind="if: userView == 1 || userView == 2 "><h2 class="title-evaluations">Calificación de <strong data-bind="text: userLogged"></strong> a <strong data-bind="text: evaluation.fullName"></strong></h2></div>
    <div data-bind="if: userView == 3 "><h2 class="title-evaluations">Calificación de <strong>Making Sense</strong> a <strong data-bind="text: evaluation.fullName"></strong></h2></div>
    <div class="top-evaluation">
        <div class="top-left">
            <h4>Información Personal</h4>
            <ul class="personal-info-container clearfix">
                <li><span class="item">Puesto:</span><span class="item-info" data-bind="text: evaluation.currentPosition"></span></li>
                <li><span class="item">Evaluadores:</span><span class="top-tip" data-bind="if: evaluation.evaluatorsString, attr: { 'data-tips': evaluation.evaluatorsString}"><span class="item-info" data-bind="text: evaluation.evaluatorsString"></span></span></li>
                <li><span class="item">Seniority:</span><span class="item-info" data-bind="text: evaluation.seniority"></span></li>
                <li><span class="item">Responsable:</span><span class="item-info" data-bind="text: evaluation.responsibleId"></span></li>
                <li><span class="item">Periodo:</span><span class="item-info" data-bind="text: evaluation.period"></span></li>
                <li>
                    <span class="item">Proyectos:</span>
                    <!--ko if: userView == 1 || userView == 3 -->
                    <div class="editable-projects" data-bind="css: { edition: evaluation.project(), 'top-tip': evaluation.project()}, attr: {'data-tips': evaluation.project()}">
                        <input type="text" placeholder="Agregá los proyectos" data-bind="value: evaluation.project, event: { keyup: evaluation.onKeyUpProject, focusin: evaluation.onFocusInProject, blur: evaluation.onBlurProject}"/><span class="pencil"></span>
                    </div>
                    <!-- /ko -->
                    <!--ko if: userView != 1 && userView != 3 -->
                    <span class="item-info" data-bind="text: evaluation.project()"></span>
                    <!-- /ko -->
                </li>
            </ul>
            <h4>Métricas de Evaluación</h4>
            <div class="metrics-container">
                <span>1</span> No Alcanza las Expectativas - <span>2</span> Necesita Mejorar<br/>
                <span>3</span> Cumple con Expectativas - <span>4</span> Excede las Expectativas
            </div>
            <p class="explanatory-text">*Si no tenés conocimientos para calificar algún campo dejalo vacío</p>
        </div>
        <!--ko if: userView == 3-->
        <div class="top-right">
            <h4>Comentarios Generales</h4>
            <div class="comments-container">
                <div class="title">Fortalezas </div><textarea class="content-editable" data-bind="value: evaluation.strengthsComment()"></textarea>
                <div class="title">Aspectos a mejorar </div><textarea class="content-editable" data-bind="value: evaluation.improveComment()"></textarea>
                <div class="title">Plan de acción </div><textarea class="content-editable" data-bind="value: evaluation.actionPlanComment()"></textarea>
            </div>
        </div>
        <h4>Comentarios de la empresa</h4>
        <textarea class="comments-container comments-company" data-bind="value: generalComment()"></textarea>
        <!-- /ko -->
        <!--ko if: userView != 3-->
        <div class="top-right">
            <h4>Comentarios Generales</h4>
            <textarea class="comments-container" data-bind="value: generalComment()"></textarea>
        </div>
        <!-- /ko -->
    </div>
    <table data-bind="attr: {class: numberOfColumns}, css: {table: true, 'calification-items': true}">
        <thead>
            <tr>
                <th class="calificators"></th>
                <!-- ko foreach: califications -->
                <th class="calificators">
                    <span data-bind="if: $data.evaluatorEmployee != $root.userLogged"><i data-tips="" data-bind="css: { icon: true, 'top-tip': true, 'hide-column': !show()}, click: $root.toggleVisibilityColumn"></i></span>
                    <span data-bind="text: evaluatorEmployee"></span>
                </th>
                <!-- /ko -->
            </tr>
            <tr>
                <th class="title-evaluation">Calificación Final</th>
                <!-- ko foreach: calificationsAverages -->
                <th class="title-evaluation"><span data-bind="visible: show(), text: value || '-'"></span></th>
                <!-- /ko -->
            </tr>
        </thead>
        <tbody data-bind="foreach: groups">
            <tr>
                <td class="sub-title-evaluation"><span data-bind="text: name"></span></td>
                <!-- ko foreach: averages -->
                <td class="sub-title-evaluation"><span data-bind="visible: show(), text: value || '-'"></span></td>
                <!-- /ko -->
            </tr>
            <!-- ko foreach: items -->
            <tr>
                <td><span data-bind="text: text, attr:{'data-tips': description}" class="top-tip rol"></span></td>
                <!-- ko foreach: values -->
                <td>
                    <span data-bind="if: !editable"><span data-bind="text: value, visible: showValue()"></span></span>
                    <span data-bind="if: editable == true"><input class="calification-input" data-bind="value: value, css: { invalid: !isValid()}"/></span>
                    
                </td>
                <!-- /ko -->
            </tr>
            <!-- /ko -->
        </tbody>
    </table>
    <div class="footer-evaluation">
        <button class="button-evaluations primary-btn finish-btn" data-bind="click: onFinish">Finalizar Devolución</button>
        <p class="explanatory-text">Recuerda que una vez finalizada tu evaluación no podrás volver a editarla.</p>
    </div>
    <script type="text/javascript">
        var calificationPeriod = "@ViewBag.Period";
        var calificationUserName = "@ViewBag.UserName";
    </script>
</div>

<div id="evaluations-generated-confirm" class="modal content-pop-up clearfix">
    <div class="modal-header">
        <h3 class="modal-title" id="title"></h3>
    </div>
    <p id="text"></p>
    <div class="model-footer">
        <button class="back" id="button-back">volver</button>
        <button class="confirm" id="button-confirm" data-bind="enable: saveButtonEnable()">confirmar</button>
    </div>
</div>