@model CommonJobs.Mvc.UI.Areas.Evaluations.Models.Calification
@{
    ViewBag.Title = "Califications";
    Layout = "~/Areas/Evaluations/Views/Shared/_Layout.cshtml";
    ScriptManager.RegisterCss(Url.Content("~/Content/twitter-bootstrap/less/bootstrap.less"), priority: 900);
    ScriptManager.RegisterCss(Url.Content("~/Content/twitter-bootstrap/less/responsive.less"), priority: 900);
    ScriptManager.RegisterCss(Url.Content("~/Content/Evaluations/evaluations.css"));
    ScriptManager.RegisterGlobalJavascript("baseUrl", Url.Content("~"), priority: 900);
    ScriptManager.RegisterJs(Url.Content("~/Scripts/jquery-1.7.2.min.js"), priority: 900);
    ScriptManager.RegisterJs(Url.Content("~/Scripts/underscore.js"), priority: 900);
    ScriptManager.RegisterJs(Url.Content("~/Content/twitter-bootstrap/js/bootstrap-typeahead.js"), priority: 900);
    ScriptManager.RegisterJs(Url.Content("~/Content/twitter-bootstrap/js/bootstrap-modal.js"), priority: 900);
    ScriptManager.RegisterJs(Url.Content("~/Scripts/url-generator.js"), priority: 900);
    ScriptManager.RegisterJs(Url.Content("~/Scripts/knockout-2.2.0.js"), priority: 900);
    ScriptManager.RegisterJs(Url.Content("~/Scripts/jquery-scrolltofixed.js"), priority: 900);
    ScriptManager.RegisterJs(Url.Content("~/Scripts/Evaluations/common.js"));
    ScriptManager.RegisterJs(Url.Content("~/Scripts/Evaluations/calification.js"));
    ScriptManager.RegisterJs(Url.Content("~/Scripts/Evaluations/auto-expandable-value.js"));
    ScriptManager.RegisterJs(Url.Content("~/Scripts/Evaluations/tri-state.js"));
    ScriptManager.RegisterJs(Url.Content("~/Scripts/MarkdownDeepLib.min.js"));
    ScriptManager.RegisterJs(Url.Content("~/Scripts/Evaluations/markdown-markdownHtml.js"));

}

<div id="evaluation-view" class="content-evaluation evaluation">
  <div data-bind="if: userView == 0"><h2 class="title-evaluations">AutoEvaluación de <strong data-bind="text: evaluation.fullName"></strong></h2></div>
  <div data-bind="if: userView == 1 || userView == 2 "><h2 class="title-evaluations">Evaluación de <strong data-bind="text: userLogged"></strong> a <strong data-bind="text: evaluation.fullName"></strong></h2></div>
  <div data-bind="if: userView == 3 "><h2 class="title-evaluations">Evaluación de <strong>Making Sense</strong> a <strong data-bind="text: evaluation.fullName"></strong></h2></div>
  <div class="top-evaluation">
    <div class="top-left">
      <h4>Información Personal</h4>
      <ul class="personal-info-container clearfix">
        <li><span class="item">Puesto:</span><span class="item-info" data-bind="text: evaluation.currentPosition"></span></li>
        <li><span class="item">Evaluadores:</span><span class="item-info" data-bind="text: evaluation.evaluators"></span><span class="item-info" data-bind="if: !evaluation.evaluators">-</span></li>
        <li><span class="item">Seniority:</span><span class="item-info" data-bind="text: evaluation.seniority"></span></li>
        <li><span class="item">Responsable:</span><span class="item-info" data-bind="text: evaluation.responsibleId"></span></li>
        <li><span class="item">Período:</span><span class="item-info" data-bind="text: evaluation.period"></span></li>
        <li><span class="item">Estado:</span><span class="item-info" data-bind="text:evaluation.state"></span></li>
        <li>
          <span class="item">Proyectos:</span>
          <!--ko if: isEvaluationEditable() && (userView == 1 || userView == 3) -->
          <div class="editable-projects" data-bind="css: { edition: evaluation.project(), 'top-tip': evaluation.project()}, attr: {'data-tips': evaluation.project()}">
            <textarea type="text" id="projects" placeholder="Agregá los proyectos" data-bind="autoExpandableValue: evaluation.project, valueUpdate: 'input', event: {keyup: evaluation.onKeyUpProject, focusin: evaluation.onFocusInProject, blur: evaluation.onBlurProject}"></textarea><span class="pencil"></span>
          </div>
          <button class="blue-button left" type="button" data-bind="click: endEdition, visible: isEditingGeneralComment()" style="">Listo</button>
        </div>
        <!-- /ko -->
      </div>
    </div>
    <!--ko if: userView == 3 || evaluation.devolutionInProgress -->
      </div>
    </div>
    <div class="markdown-content" data-bind="markdownHtml: generalComment, visible:!isEditingGeneralComment() "></div>
    <div class="comments-container comments-company-container" data-bind="visible: isEditingGeneralComment()">
      <textarea class="content-editable big-comment" data-bind="value: generalComment, enable: isEvaluationEditable()"></textarea>
    </div>
    <button class="blue-button left" type="button" data-bind="click: endEdition, visible: isEditingGeneralComment()" style="">Listo</button>
    <div class="evaluation-comments">
      <h4>Comentarios de la Evaluación</h4>
      <div class="evaluation-comments-section">
        <!-- ko foreach: califications-->
        <div class="comments-section-container" data-bind="if: show() && (owner < 2 ||(owner == 2 && comments))">
          <!-- ko if: !!comments() -->
          <span class="comment-author" data-bind="text: evaluatorEmployee"></span><sapn class="comment-author">:</sapn>
          <div class="comment-text markdown-content" data-bind="markdownHtml: comments, visible: !isEditingComment()"></div>
          <!-- /ko -->
          <div class="comment-text edition-content" data-bind="visible: isEditingComment">
            <textarea data-bind="value: comments"></textarea>
            <button class="blue-button left" type="button" data-bind="click: endEdition" style="">Listo</button>
          </div>
          <div class="ck-button-edit" data-bind="visible: isCommentEditable && !isEditingComment()" title="Editar">
            <label>
              <span><i></i></span>
              <input type="checkbox" value="+" data-bind="checked: isEditingComment">
            </label>
          </div>
        </div>
        <!-- /ko -->
      </div>
    </div>
    <!-- /ko -->
  </div>
  <table data-bind="attr: {class: numberOfColumns}, css: {table: true, 'calification-items': true}">
    <thead id="header-fixed">
      <tr>
        <th class="calificators"><h1>Evaluadores</h1></th>
        <!-- ko foreach: califications -->
        <th class="calificators">
          <span data-bind="if: hasShowIcon"><i data-tips="" data-bind="css: { icon: true, 'top-tip': true, 'hide-column': !show()}, click: $root.toggleVisibilityColumn"></i></span>
          <span data-bind="text: evaluatorEmployee.replace('_company', 'Empresa')"></span>
        </th>
        <!-- /ko -->
        <th class="calificators">
          <p>Mostrar comentarios</p>
        </th>
      </tr>
      <tr>
        <th class="title-evaluation">Calificación Final</th>
        <!-- ko foreach: calificationsAverages -->
        <th class="title-evaluation"><span data-bind="visible: show(), text: value || '-'"></span></th>
        <!-- /ko -->
        <th class="title-evaluation comment">
          <label data-bind="triState:showCalificationsComments, click: toggleAllComments">
            <input class="cmn-toggle-round" type="checkbox" />
          </label>
        </th>
      </tr>
    </thead>
    <tbody data-bind="foreach: groups">
      <tr>
        <td class="sub-title-evaluation"><span data-bind="text: name"></span></td>
        <!-- ko foreach: averages -->
        <td class="sub-title-evaluation"><span data-bind="visible: show(), text: value || '-'"></span></td>
        <!-- /ko -->
        <td class="sub-title-evaluation"></td>
      </tr>
      <!-- ko foreach: items -->
      <tr data-bind="css : {'row-selected' : isRowSelected()}">
        <td><span data-bind="attr:{'data-tips': description}" class="top-tip rol wrap-text"><span data-bind="text: text"></span><i class="icon info"></i></span></td>
        <!-- ko foreach: values -->
        <td data-bind="css: { 'exceeds-expectations': showValue() && value() > 3 && value() <= 4 , 'poor': showValue() && value() < 3 && value() >= 1}">
          <span data-bind="if: !editable"><span data-bind="text: value, visible: showValue()"></span></span>
          <span data-bind="if: editable == true"><input class="calification-input" data-bind="value: value, css: { invalid: !isValid()}, event: { focusin: onFocus, blur: onBlur} " /></span>
        </td>
        <!-- /ko -->
        <td>
          <div class="comment" data-bind="if: hasCommentsToShow()  || $root.isEvaluationEditable()">
            <label data-bind="css: { 'checked': showComments(), 'colored': hasCommentsToShow()}">
              <input class="cmn-toggle-round" type="checkbox" data-bind="checked: showComments" />
            </label>
          </div>
        </td>
      </tr>
      <tr class="comments-section" data-bind="visible: showComments">
        <td data-bind="attr:{'colspan': $root.columnsAmount}">
          <!-- ko foreach: comments -->
          <div class="comments-section-container" data-bind="visible: HasComment() && IsCalificationShown()">
            <span class="comment-author" data-bind="text: evaluatorEmployee"></span><sapn class="comment-author">:</sapn>
            <div class="comment-text markdown-content " data-bind="markdownHtml: value, visible: !isSelfComment || !IsEditingComment()"></div>
            <div class="comment-text edition-content" data-bind="visible: IsEditingComment">
              <textarea data-bind="value: value" rows="5" placeholder="Agrega un comentario"></textarea>
              <button class="blue-button left" type="button" data-bind="click: endEdition" style="">Listo</button>
            </div>
            <div class="ck-button-edit" data-bind="if: isEditable, visible: isSelfComment &&  !IsEditingComment()" title="Editar">
              <label>
                <span><i></i></span>
                <input type="checkbox" value="+" data-bind="checked: IsEditingComment">
              </label>
            </div>
          </div>
          <!-- /ko -->
          <div class="comment-add-container" data-bind="if: $root.isEvaluationEditable, visible: !hasSelfComments()">
            <button class="blue-button left" data-bind="click: addSelfComment">Agrega tu comentario</button>
          </div>
        </td>
      </tr>
      <!-- /ko -->
    </tbody>
  </table>
  <div class="footer-evaluation" data-bind="if: isEvaluationEditable()">
    <button class="button-evaluations primary-btn finish-btn" data-bind="click: onFinish">
      <!-- ko if: isResposibleCalificating -->
      Finalizar e iniciar evaluación empresa
      <!-- /ko -->
      <!-- ko if: !isResposibleCalificating -->
      finalizar
      <!-- /ko -->
    </button>
    <p class="explanatory-text">Recuerda que una vez finalizada tu evaluación no podrás volver a editarla.</p>
  </div>
  <div id="loader-id" class="loader-container" data-bind="visible: isLoading()">
    <div class="loader"></div>
  </div>
  <script type="text/javascript">
      var calificationPeriod = "@ViewBag.Period";
      var calificationUserName = "@ViewBag.UserName";
  </script>
</div>

<div id="evaluations-generated-confirm" class="modal content-pop-up clearfix">
  <div class="modal-header">
    <h3 class="modal-title" id="title" data-bind="text: title()"></h3>
  </div>
  <p id="text" data-bind="text: text()"></p>
  <div class="model-footer">
    <button class="back" id="button-back" data-bind="click: backAction, text: buttonBackText()"></button>
    <button class="confirm" id="button-confirm" data-bind="visible: isConfirmButtonVisible(), click: confirmAction, text: buttonConfirmText()"></button>
    <button class="warning-confirm" id="button-warning-confirm" data-bind="visible: isWarningConfirmButtonVisible(), click: warningConfirmAction, text: buttonConfirmText()"></button>
    <button class="finish" id="button-finish" data-bind="visible: isFinalButtonVisible(), click: finalAction, text: buttonFinalText()"></button>
  </div>
</div>
