@{
    ViewBag.Title = "Generate Evaluations";
    Layout = "~/Areas/Evaluations/Views/Shared/_Layout.cshtml";
}

<div class="content-evaluation evaluation">
    <h2 class="title-evaluations">Devolucion de <strong>Making Sense</strong> a <strong>Jose Francisco Rago</strong></h2>
    <div class="top-evaluation">
        <div class="top-left">
            <h4>Informacion Personal</h4>
            <h5 class="inf-personal">Puesto: <span>Disenador Grafico</span></h5>
            <h5 class="inf-personal">Evaluadores: <span>Flores, Romero, Massimino</span></h5>
            <h5 class="inf-personal">Seniority: <span>Semi Senior</span></h5>
            <h5 class="inf-personal">Responsable: <span>Ignacio Caldentey</span></h5>
            <h5 class="inf-personal">Fecha: <span>18/07/2015</span></h5>
            <h5 class="inf-personal">Poryecto: <span>Marketing</span></h5>
            <h4>Metricas de Evaluacion</h4>
            <h5>1.<span>No alcanza las Expectativas  </span>2.<span>Necesita Mejorar </span></br>3.<span>Cumple con Expectativas </span>4.<span>Excede Expectativas</span></h5>
            <p class="explication-text">*Si no tenes conocimientos para calificar un campo puedes dejarlo vacio</p>
        </div>
        <div class="top-right">
            <h4>Comentarios Generales</h4>
            <textarea class="comentarios-generales" placeholder="Deja tu comentario aqui..."></textarea>
            <button class="button-evaluations comentar">Comentar</button>
        </div>
    </div>
    <table class="table">
        <tr>
            <th class="evaluadores"></th>
            <th class="evaluadores"><i class="icon hide top-tip" data-tips="Ocultar"></i>Auto Evaluacion</th>
            <th class="evaluadores"><i class="icon hide top-tip" data-tips="Ocultar"></i>Calentey</th>
            <th class="evaluadores"><i class="icon hide top-tip" data-tips="Ocultar"></i>Empresa</th>
        </tr>
        <tr>
            <th class="title-evaluacion">CALIFICACION FINAL</th>
            <th class="title-evaluacion">3.5</th>
            <th class="title-evaluacion">4</th>
            <th class="title-evaluacion">4</th>
        </tr>
        <tr>
            <th class="sub-title-evaluacion">DESEMPE&Ntilde;O LABORAL</th>
            <th class="sub-title-evaluacion"><span>3.5</span></th>
            <th class="sub-title-evaluacion">4</th>
            <th class="sub-title-evaluacion">4</th>
        </tr>
        <tr>
            <td><span class="top-tip rol" data-tips="Responsabilidad hace referienca a reflexionar, administrar, orientar y valorar las consecuencias de sus actos, siempre en el plano de lo moral">1. Responsabilidad</span></td>
            <td class="col-hide">3.5</td>
            <td><span>4</span></td>
            <td><input class="calificacion" type="text"></td>
        </tr>
        <tr>
            <td>2. Exactitud y calidad de trabajo</td>
            <td><span>3.5</span></td>
            <td><span>4</span></td>
            <td><input class="calificacion" type="text"></td>
        </tr>
        <tr>
            <td>3. Cumplimiento de fechas</td>
            <td>3.5</td>
            <td>4</td>
            <td><input class="calificacion" type="text"></td>
        </tr>
        <tr>
            <td>4. Productividad</td>
            <td><span>3.5</span></td>
            <td>4</td>
            <td><input class="calificacion" type="text"></td>
        </tr>
        <tr>
            <td>5. Orden y claridad del trabajo</td>
            <td>3.5</td>
            <td>4</td>
            <td><input class="calificacion" type="text"></td>
        </tr>
        <tr>
            <td>6. Planificacion del trabajo</td>
            <td>3.5</td>
            <td>4</td>
            <td><input class="calificacion" type="text"></td>
        </tr>
        <tr>
            <td>7. Documentacion que genera</td>
            <td>3.5</td>
            <td>4</td>
            <td><input class="calificacion" type="text"></td>
        </tr>
        <tr>
            <td>8. Reporta avances de tareas</td>
            <td>3.5</td>
            <td>4</td>
            <td><input class="calificacion" type="text"></td>
        </tr>
        <tr>
            <td>9. Capacidad de realizacion</td>
            <td>3.5</td>
            <td>4</td>
            <td><input class="calificacion" type="text"></td>
        </tr>
        <tr>
            <td>10. Compresion de situaciones</td>
            <td>3.5</td>
            <td>4</td>
            <td><input class="calificacion" type="text"></td>
        </tr>
        <tr>
            <td>11. Sentido comun</td>
            <td>3.5</td>
            <td>4</td>
            <td><input class="calificacion" type="text"></td>
        </tr>
        <tr>
            <td>12. Cumplimiento de los procedimientos existentes</td>
            <td>3.5</td>
            <td>4</td>
            <td><input class="calificacion" type="text"></td>
        </tr>
        <tr>
            <td>13. Grado de conocimiento tecnico</td>
            <td>3.5</td>
            <td>4</td>
            <td><input class="calificacion" type="text"></td>
        </tr>
        <tr>
            <td>14. Comunicacion</td>
            <td>3.5</td>
            <td>4</td>
            <td><input class="calificacion" type="text"></td>
        </tr>
        <tr>
            <td>15. Ingles oral</td>
            <td>3.5</td>
            <td>4</td>
            <td><input class="calificacion" type="text"></td>
        </tr>
        <tr>
            <td>16. Ingles escrito</td>
            <td>3.5</td>
            <td>4</td>
            <td><input class="calificacion" type="text"></td>
        </tr>
        <tr>
            <th class="sub-title-evaluacion">FACTOR HUMANO/ACTITUD</th>
            <th class="sub-title-evaluacion">3.5</th>
            <th class="sub-title-evaluacion">4</th>
            <th class="sub-title-evaluacion"></th>
        </tr>
        <tr>
            <td>17. Actitud hacia la Empresa</td>
            <td>3.5</td>
            <td>4</td>
            <td><input class="calificacion" type="text"></td>
        </tr>
        <tr>
            <td>18. Actitud hacia los companeros</td>
            <td>3.5</td>
            <td>4</td>
            <td><input class="calificacion" type="text"></td>
        </tr>
        <tr>
            <td>19. Actitud hacia el cliente</td>
            <td>3.5</td>
            <td>4</td>
            <td><input class="calificacion" type="text"></td>
        </tr>
        <tr>
            <td>20. Cooperacion con el equipo</td>
            <td>3.5</td>
            <td>4</td>
            <td><input class="calificacion" type="text"></td>
        </tr>
        <tr>
            <td>21. Capacidad de aceptar criticas</td>
            <td>3.5</td>
            <td>4</td>
            <td><input class="calificacion" type="text"></td>
        </tr>
        <tr>
            <td>22. Capacidad de generar sugerencias constructivas</td>
            <td>3.5</td>
            <td>4</td>
            <td><input class="calificacion" type="text"></td>
        </tr>
        <tr>
            <td>23. Pautas de Convivencia</td>
            <td>3.5</td>
            <td>4</td>
            <td><input class="calificacion" type="text"></td>
        </tr>
        <tr>
            <td>23. Pautas de Convivencia</td>
            <td>3.5</td>
            <td>4</td>
            <td><input class="calificacion" type="text"></td>
        </tr>
        <tr>
            <td>24. Predisposicion</td>
            <td>3.5</td>
            <td>4</td>
            <td><input class="calificacion" type="text"></td>
        </tr>
        <tr>
            <td>25. Puntualidad</td>
            <td>3.5</td>
            <td>4</td>
            <td><input class="calificacion" type="text"></td>
        </tr>
        <tr>
            <th class="sub-title-evaluacion">HABILIDADES</th>
            <th class="sub-title-evaluacion">3.5</th>
            <th class="sub-title-evaluacion">4</th>
            <th class="sub-title-evaluacion"></th>
        </tr>
        <tr>
            <td>26. Iniciativa/Proactividad</td>
            <td>3.5</td>
            <td>4</td>
            <td><input class="calificacion" type="text"></td>
        </tr>
        <tr>
            <td>27. Creatividad</td>
            <td>3.5</td>
            <td>4</td>
            <td><input class="calificacion" type="text"></td>
        </tr>
        <tr>
            <td>28. Respuesta bajo presion</td>
            <td>3.5</td>
            <td>4</td>
            <td><input class="calificacion" type="text"></td>
        </tr>
        <tr>
            <td>29. Capacidad de manejar multiples tareas</td>
            <td>3.5</td>
            <td>4</td>
            <td><input class="calificacion" type="text"></td>
        </tr>
        <tr>
            <td>30. Coordinar y liderazgo</td>
            <td>3.5</td>
            <td>4</td>
            <td><input class="calificacion" type="text"></td>
        </tr>
        <tr>
            <td>31. Potencialidad-capacidad de aprendisaje</td>
            <td>3.5</td>
            <td>4</td>
            <td><input class="calificacion" type="text"></td>
        </tr>
    </table>
    <div class="footer-evaluation">
        <button class="button-evaluations finalizar">Finalizar Devolucion</button>
    </div>
</div>