@model CommonJobs.Mvc.UI.Areas.Evaluations.Models.PeriodEvaluation
@{
    ViewBag.Title = "Dashboard Evaluadores";
    Layout = "~/Areas/Evaluations/Views/Shared/_Layout.cshtml";
    ScriptManager.RegisterCss(Url.Content("~/Content/twitter-bootstrap/less/bootstrap.less"), priority: 900);
    ScriptManager.RegisterCss(Url.Content("~/Content/twitter-bootstrap/less/responsive.less"), priority: 900);
    ScriptManager.RegisterCss(Url.Content("~/Content/Evaluations/evaluations.css"));
    ScriptManager.RegisterGlobalJavascript("baseUrl", Url.Content("~"), priority: 900);
    ScriptManager.RegisterJs(Url.Content("~/Scripts/jquery-1.7.2.min.js"), priority: 900);
    ScriptManager.RegisterJs(Url.Content("~/Scripts/underscore.js"), priority: 900);
    ScriptManager.RegisterJs(Url.Content("~/Content/twitter-bootstrap/js/bootstrap-typeahead.js"), priority: 900);
    ScriptManager.RegisterJs(Url.Content("~/Content/twitter-bootstrap/js/bootstrap-modal.js"), priority: 900);
    ScriptManager.RegisterJs(Url.Content("~/Scripts/url-generator.js"), priority: 900);
    ScriptManager.RegisterJs(Url.Content("~/Scripts/knockout-2.2.0.js"), priority: 900);
    ScriptManager.RegisterJs(Url.Content("~/Scripts/Evaluations/common.js"));
    ScriptManager.RegisterJs(Url.Content("~/Scripts/Evaluations/dashboard.js"));
}

<div class="content-evaluation responsible">
    <h2 class="title">Responsable y Calificador de las siguientes evaluaciones</h2>
    <table class="table">
        <thead>
            <tr data-bind="foreach: headers">
                <th data-bind="attr: { class: 'col-' + ($index()+1) }">
                    <span data-bind="click: $parent.sort, text: title, css: { selected: activeSort}"></span>
                </th>
            </tr>
        </thead>
        <tbody data-bind="foreach: items">
            <tr>
                <td>
                    <span data-bind="if: !isResponsible"><span class="top-tip rol" data-tips="Calificador">C</span></span>
                    <span data-bind="if: isResponsible"><span class="top-tip rol" data-tips="Responsable">R</span></span>
                </td>
                <td data-bind="text: fullName"></td>
                <td data-bind="text: currentPosition"></td>      
                <td data-bind="text: seniority"></td>
                <td class="calificators-column">
                    <span data-bind="if: isCalificatorsEditable() && evaluatorsAmount() > 0, attr: { 'data-tips': evaluatorsString()}" class="top-tip rol">
                        <i class="icon edit"></i>
                        <a class="calification-links edit" data-bind="click: showCalificatorsManager">
                            <span data-bind="text: evaluatorsTextLink()"></span>
                        </a>
                    </span>
                    <span data-bind="if: isCalificatorsEditable() && !evaluatorsAmount()"><i class="icon add"></i><a class="calification-links add" data-bind="click: showCalificatorsManager">Agregar</a></span>
                    <span data-bind="if: !isCalificatorsEditable()">
                        <span data-bind="text: evaluatorsTextLink()"></span>
                    </span>
                </td>
                <td><span class="state-doc" data-bind="text: stateName, attr: { 'class': stateClasses }"></span></td>
                <td><i data-bind="attr: { class: calificationActionClass() }"></i><a class="link-responsable top-tip rol" data-bind="text: calificationActionText(), attr: {'data-tips': calificationActionTooltip()}"></a></td>
                <td><span data-bind="if: state() == 4"><button class="button-evaluations feedback-start">Iniciar Devolución</button></span></td>
            </tr>
        </tbody>
    </table>
</div>


<div class="content-modal clearfix">
    <div class="modal-title">
        <h4 data-bind="text: calificatorsManagerModel.title"></h4>
    </div>
    <div class="search-container">
        <input type="text" class="search" autocomplete="off" data-bind="value: calificatorsManagerModel.newCalificator, event: {keypress: calificatorsManagerModel.onEnter}"/>
        <button class="add-calificator-btn" data-bind="click: calificatorsManagerModel.addCalificator"></button>
    </div>
    <div class="content-add-calificadores">
        <ul data-bind="foreach: calificatorsManagerModel.activeCalificators">
            <li><span data-bind="text: userName"></span> <a data-bind="click: $parent.calificatorsManagerModel.removeCalificator"><i class="icon delete"></i></a></li>
        </ul>
    </div>
    <a class="cancelar" data-bind="click: calificatorsManagerModel.close">Cancelar</a>
    <button class="guardar"data-bind="enable: calificatorsManagerModel.saveButtonEnable, click: calificatorsManagerModel.save">Guardar</button>
</div>