@model CommonJobs.Mvc.UI.Areas.Evaluations.Models.PeriodEvaluation
@{
    ViewBag.Title = "Dashboard Evaluadores";
    Layout = "~/Areas/Evaluations/Views/Shared/_Layout.cshtml";
    ScriptManager.RegisterCss(Url.Content("~/Content/twitter-bootstrap/less/bootstrap.less"), priority: 900);
    ScriptManager.RegisterCss(Url.Content("~/Content/twitter-bootstrap/less/responsive.less"), priority: 900);
    ScriptManager.RegisterCss(Url.Content("~/Content/Evaluations/evaluations.css"));
    ScriptManager.RegisterGlobalJavascript("baseUrl", Url.Content("~"), priority: 900);
    ScriptManager.RegisterJs(Url.Content("~/Scripts/jquery-1.7.2.min.js"), priority: 900);
    ScriptManager.RegisterJs(Url.Content("~/Scripts/underscore.js"), priority: 900);
    ScriptManager.RegisterJs(Url.Content("~/Content/twitter-bootstrap/js/bootstrap-typeahead.js"), priority: 900);
    ScriptManager.RegisterJs(Url.Content("~/Content/twitter-bootstrap/js/bootstrap-modal.js"), priority: 900);
    ScriptManager.RegisterJs(Url.Content("~/Scripts/url-generator.js"), priority: 900);
    ScriptManager.RegisterJs(Url.Content("~/Scripts/knockout-2.2.0.js"), priority: 900);
    ScriptManager.RegisterJs(Url.Content("~/Scripts/evaluations-common.js"));
    ScriptManager.RegisterJs(Url.Content("~/Scripts/evaluations-dashboard.js"));
}

<div class="content-evaluation responsible">
    <h2 class="title">Responsable y Calificador de las siguiente evaluaciones</h2>
    <table class="table">
        <thead>
            <tr data-bind="foreach: headers">
                <th data-bind="click: $parent.sort, text: title"></th>
            </tr>
        </thead>
        <tbody data-bind="foreach: evaluations">
            <tr>
                <td >
                    <span data-bind="if: !isResponsible"><span class="top-tip rol" data-tips="Calificador">C</span></span>
                    <span data-bind="if: isResponsible"><span class="top-tip rol" data-tips="Responsable">R</span></span>
                </td>
                <td data-bind="text: fullName"></td>
                <td data-bind="text: currentPosition"></td>      
                <td data-bind="text: seniority"></td>
                <td class="calificators-column">
                    <span data-bind="if: evaluatorsAmount() > 0, attr: { 'data-tips': evaluatorsString()}" class="top-tip rol">
                        <i class="icon edit"></i>
                        <a class="calification-links edit" data-bind="click: showCalificatorsManager">
                            <span data-bind="if: evaluatorsAmount() == 1"><span data-bind="text: evaluatorsAmount"></span> calificador</span>
                            <span data-bind="if: evaluatorsAmount() > 1"><span data-bind="text: evaluatorsAmount"></span> calificadores</span>
                        </a>
                    </span>
                    <span data-bind="if: !evaluatorsAmount()"><i class="icon add"></i><a class="calification-links add" data-bind="click: showCalificatorsManager">Agregar</a></span>

                </td>
                <td><span class="state-doc state-0" data-bind="text: stateName"></span></td>
                <td><i class="icon user"></i><a class="link-responsable top-tip rol" data-tips="Calificar como responsable">Calificar</a></td>
                <td></td>
            </tr>
        </tbody>
    </table>
    <button type="submit" id="back-button" class="primary-btn button-evaluations" >Volver</button>
</div>


<div class="content-modal clearfix">
    <div class="modal-title">
        <h4>Agregar Calificadores</h4>
    </div>
    <div class="search-container">
        <input type="text" class="search" autocomplete="off" data-bind="value: calificatorsManagerModel.newCalificator, event: {keypress: calificatorsManagerModel.onEnter}"/>
        <button class="add-calificator-btn" data-bind="click: calificatorsManagerModel.addCalificator"></button>
    </div>
    <div class="content-add-calificadores">
        <ul data-bind="foreach: calificatorsManagerModel.activeCalificators">
            <li><span data-bind="text: userName"></span> <a data-bind="click: $parent.calificatorsManagerModel.removeCalificator"><i class="icon delete"></i></a></li>
        </ul>
    </div>
    <a class="cancelar" data-bind="click: calificatorsManagerModel.close">Cancelar</a>
    <a class="guardar"data-bind="click: calificatorsManagerModel.save">Guardar</a>
</div>