@model CommonJobs.Mvc.UI.Areas.Evaluations.Models.PeriodEvaluation
@{
    ViewBag.Title = "Dashboard Evaluadores";
    Layout = "~/Areas/Evaluations/Views/Shared/_Layout.cshtml";
    ScriptManager.RegisterCss(Url.Content("~/Content/twitter-bootstrap/less/bootstrap.less"), priority: 900);
    ScriptManager.RegisterCss(Url.Content("~/Content/twitter-bootstrap/less/responsive.less"), priority: 900);
    ScriptManager.RegisterCss(Url.Content("~/Content/Evaluations/evaluations.css"));
    ScriptManager.RegisterGlobalJavascript("baseUrl", Url.Content("~"), priority: 900);
    ScriptManager.RegisterJs(Url.Content("~/Scripts/jquery-1.7.2.min.js"), priority: 900);
    ScriptManager.RegisterJs(Url.Content("~/Scripts/underscore.js"), priority: 900);
    ScriptManager.RegisterJs(Url.Content("~/Content/twitter-bootstrap/js/bootstrap-typeahead.js"), priority: 900);
    ScriptManager.RegisterJs(Url.Content("~/Content/twitter-bootstrap/js/bootstrap-modal.js"), priority: 900);
    ScriptManager.RegisterJs(Url.Content("~/Scripts/url-generator.js"), priority: 900);
    ScriptManager.RegisterJs(Url.Content("~/Scripts/knockout-2.2.0.js"), priority: 900);
    ScriptManager.RegisterJs(Url.Content("~/Scripts/evaluations-common.js"));
    ScriptManager.RegisterJs(Url.Content("~/Scripts/evaluations-dashboard.js"));
}

<div class="content">
    <h2 class="title">Resposable y Calificador de las siguiente evaluaciones</h2>
    <table>
        <thead>
            <tr>
                <th>Rol</th>
                <th class="selected">Empleado</th>
                <th>Puesto</th>
                <th>Seniority</th>
                <th>Clasificadores</th>
                <th colspan="3">Estado</th>
            </tr>
        </thead>
        <tbody data-bind="test: console.log($data), foreach: evaluations">
            <tr>
                <td data-bind="visible: !isResponsible"><span class="top-tip rol" data-tips="Calificador">C</span></td>
                <td data-bind="visible: isResponsible"><span class="top-tip rol" data-tips="Responsable">R</span></td>
                <td data-bind="text: fullName"></td>
                <td data-bind="text: currentPosition"></td>      
                <td data-bind="text: seniority"></td>
                <td><i class="add"></i><a class="calification-links" href="">Agregar</a></td>
                <td><span class="" data-bind="text: stateName"></span></td>
                <td><i class="user"></i><a class="link-responsable" href="">Calificar</a></td>
                <td></td>
            </tr>
        </tbody>
    </table>
    <button type="submit" id="generate-evaluation-button" class="generate-evaluation-button" >VOLVER</button>
</div>


<div class="calificators-modal">
    <div class="modal-title">
        <h4>Agregar Calificadores</h4><i class="delete"></i>
    </div>
    <input type="search" placeholder="Buscar">
    <div class="content-add-calificadores">
        <ul>
            <li>sromero<i class="delete"></i></li>
            <li>fflores<i class="delete"></i></li>
            <li>mmassimino<i class="delete"></i></li>
        </ul>
    </div>
    <a class="cancelar">Cancelar</a>
    <a class="guardar">Guardar</a>
</div>



@*<div class="content">
    <h2 class="title">Generar Evaluación</h2>
    <table>
        <thead>
            <tr>
                <th>Empleado</th>
                <th>Posición</th>
                <th>Seniority</th>
                <th>Responsable</th>
            </tr>
        </thead>
        <tbody data-bind="foreach: employees">
            <tr data-bind="css: { 'evaluation-generated': period }">
                <td data-bind="text: fullName"></td>
                <td data-bind="text: currentPosition"></td>
                <td data-bind="text: seniority"></td>
                <td>
                    <span data-bind="visible: period, text:responsible"></span>
                    <input class="evaluation-owner-field" data-bind="visible: !period, value: responsible" autocomplete="off"/>
                </td>
            </tr>
        </tbody>
    </table>
    <button type="submit" id="generate-evaluation-button" class="generate-evaluation-button" data-bind="enable: generateButtonEnable">GENERAR EVALUACIONES</button>
    
</div>

<div id="evaluations-generated-confirm" class="modal content-pop-up clearfix">
    <div class="modal-header">
        <h3 class="modal-title">EVALUACIONES GENERADAS!</h3>
    </div>
    <p id="textCount"></p>
    <div class="model-footer">      
        <button class="confirm">OK</button>
    </div>
</div>*@
