@model CommonJobs.Mvc.UI.Areas.Evaluations.Models.ReportDashboard
@{
    ViewBag.Title = "Dashboard Recursos Humanos";
    Layout = "~/Areas/Evaluations/Views/Shared/_Layout.cshtml";
    ScriptManager.RegisterCss(Url.Content("~/Content/twitter-bootstrap/less/bootstrap.less"), priority: 900);
    ScriptManager.RegisterCss(Url.Content("~/Content/twitter-bootstrap/less/responsive.less"), priority: 900);
    ScriptManager.RegisterCss(Url.Content("~/Content/Evaluations/evaluations.css"));
    ScriptManager.RegisterCss(Url.Content("~/Content/moment-datepicker/datepicker.css"));
    ScriptManager.RegisterJs(Url.Content("~/Scripts/jquery-1.7.2.min.js"), priority: 900);
    ScriptManager.RegisterJs(Url.Content("~/Scripts/underscore.js"), priority: 900);
    ScriptManager.RegisterJs(Url.Content("~/Content/twitter-bootstrap/js/bootstrap-typeahead.js"), priority: 900);
    ScriptManager.RegisterJs(Url.Content("~/Content/twitter-bootstrap/js/bootstrap-modal.js"), priority: 900);
    ScriptManager.RegisterJs(Url.Content("~/Scripts/url-generator.js"), priority: 900);
    ScriptManager.RegisterJs(Url.Content("~/Scripts/knockout-2.2.0.js"), priority: 900);
    ScriptManager.RegisterJs(Url.Content("~/Scripts/Evaluations/common.js"));
    ScriptManager.RegisterJs(Url.Content("~/Scripts/Evaluations/dashboard-human-resources.js"));
}

<div class="content-evaluation dashboard recursos-humanos">
  <div class="header">
    <h2>Historial de Evaluaciones</h2>
    <h2 class="header--human-resources">HR Dashboard</h2>
    <div class="content-selector-block">
      <div class="content-selector-label">
        <p>Período<p>
      </div>
      <div class="content-selector-dropdown">
        @Html.DropDownList("selectedPeriod", (IEnumerable<SelectListItem>)ViewBag.ReportPeriods)
      </div>
    </div>
  </div>
  <table class="table">
    <thead>
      <tr data-bind="foreach: headers">
        <!-- ko if: sortable -->
        <th data-bind="attr: { class: 'col-' + ($index()+1) }, click: $parent.sort, css: { selected: activeSort}">
          <i class="icon arrow"></i>
          <span data-bind="text: title"></span>
        </th>
        <!-- /ko -->
        <!-- ko if: !sortable -->
        <th data-bind="attr: { class: 'col-' + ($index()+1) }"><span data-bind="text: title"></span></th>
        <!-- /ko -->
      </tr>
    </thead>
    <tbody data-bind="foreach: items">
      <tr>
        <td data-bind="text: period"></td>
        <td data-bind="text: fullName"></td>
        <td data-bind="text: currentPosition"></td>
        <td data-bind="text: seniority"></td>
        <td>
          <div style="clear:both">
            <!-- ko foreach: sharedLinks -->
            <dib class="link">
              <div data-bind="visible: !edittingFriendlyName()" style="float:left">
                <button data-bind="click: deleteSharedLink" class="link-btn remove">
                  <i class="icon remove"></i>
                </button>
                <div style="display:inline-block">
                  <a class="calification-links edit top-tip" data-bind="text: friendlyName, click: openLink"></a>
                  <span data-bind="text: moment(expirationDate()).format('DD/MM/YYYY')"></span>
                  <i class="icon edit-btn" data-bind="click: $parent.toogle"></i>
                </div>
              </div>
              <div data-bind="visible: edittingFriendlyName()">
                <div class="link-edit block">
                  <input type="text" data-bind="value: friendlyName" />
                  <input type="date" class="datepicker" data-bind="datepicker: expirationDate, datepickerOptions: { dataType: 'iso', format: 'DD/MM/YYYY'}" />
                </div>
                <input data-bind="click: updateSharedLink" type="button" value="Listo" class="link-btn done" />
              </div>
            </dib>
            <!-- /ko -->
          </div>
          <button data-bind="click: createLink" class="link-btn add">
            <i class="icon add"></i>
          </button>
        </td>
        <td class="responsible-column">
          <!-- ko if: isEvaluationManager -->
          <span>
            <a class="calification-links edit top-tip" data-bind="click: showResponsibleManager">
              <i class="icon edit"></i>
              <span data-bind="text: responsibleId()"></span>
            </a>
          </span>
          <!-- /ko -->
          <!-- ko ifnot: isEvaluationManager -->
          <span data-bind="text: responsibleId"></span>
          <!-- /ko -->
        <td><span class="state-doc" data-bind="text: stateName, attr: { 'class': stateClasses }"></span></td>
        <td><a class="link-responsable top-tip" data-bind="if: state() == 6, attr: {href: calificationUrl}" data-tips="Ver Evaluación"><i class="icon view"></i><span>Ver Evaluación</span></a></td>
      </tr>
    </tbody>
  </table>
  <script type="text/javascript">
    var employeePeriod = "@ViewBag.Period";
  </script>
</div>

<div class="content-modal clearfix">
  <div class="modal-title">
    <h4>Cambiar Responsable</h4>
  </div>
  <div class="search-container">
    <input type="text" class="search" autocomplete="off" data-bind="value: responsibleManagerModel.newResponsible, valueUpdate: 'input'" />
  </div>
  <a class="cancelar" data-bind="click: responsibleManagerModel.close">Cancelar</a>
  <button class="guardar" data-bind="enable: responsibleManagerModel.newResponsible , click: responsibleManagerModel.save">Guardar</button>
</div>

<div id="loader-id" class="loader-container" data-bind="visible: isLoading()">
  <div class="loader"></div>
</div>
