<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <appSettings>
    <add key="CommonJobs/Environment" value="DEV" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="CommonJobs/FakeADGroups"  xdt:Transform="Remove" xdt:Locator="Match(key)" />
    <add key="CommonJobs/ADGroupsPrefix" value="CommonJobsDEV_" xdt:Transform="Insert" />
    <add key="CommonJobs/PublicSiteUrl" value="http://careers.makingsense.com:8889" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="LOGENTRIES_ACCOUNT_KEY" xdt:Transform="Remove" xdt:Locator="Match(key)" />
    <add key="LOGENTRIES_LOCATION" xdt:Transform="Remove" xdt:Locator="Match(key)" />
  </appSettings>

  <connectionStrings>
    <add name="RavenDB" connectionString="Url=http://localhost:8080" xdt:Transform="Replace" xdt:Locator="Match(name)"/>
  </connectionStrings>

  <dotless minifyCss="true" cache="false" web="false" debug="true" disableParameters="true" xdt:Transform="Replace"/>

  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets xdt:Transform="Replace">
      <target
			  xsi:type="AsyncWrapper"
			  name="AsyncLog">
        <target xsi:type="SplitGroup">
          <target name="File" xsi:type="File" fileName="c:\CommonJobsDEV\DEV${shortdate}.log">
            <layout xsi:type="CsvLayout">
              <column name="time" layout="${longdate}" />
              <column name="logger" layout="${logger}"/>
              <column name="level" layout="${level}"/>
              <column name="message" layout="${message}" />
              <column name="exception" layout="${exception:format=tostring}" />
            </layout>
          </target>
        </target>
      </target>
    </targets>
    <rules>
      <logger name="Raven.*" writeTo="AsyncLog"/>
      <logger name="CommonJobs.*" writeTo="AsyncLog"/>
    </rules>
  </nlog>

</configuration>
