<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>

  <appSettings>
    <add key="Environment" value="DEV1" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
  </appSettings>

  <connectionStrings>
    <add name="RavenDB"
      connectionString="Url=http://localhost:8080"
      xdt:Transform="Replace" xdt:Locator="Match(name)"/>
  </connectionStrings>

  <dotless minifyCss="true" cache="true" web="false" xdt:Transform="Replace" />

  <applicationSettings>
    <CommonJobs.Infrastructure.Properties.Settings>
      <setting name="UploadPath" serializeAs="String" xdt:Transform="Replace">
        <value>C:\CommonJobsDEV\Uploads</value>
      </setting>
    </CommonJobs.Infrastructure.Properties.Settings>
  </applicationSettings>

</configuration>