<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <configSections>
    <section name="dotless" type="dotless.Core.configuration.DotlessConfigurationSectionHandler, dotless.Core" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="CommonJobs.Infrastructure.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="1.0.0.0" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="AllowedMigrationSingleIPs" value="localhost,192.168.4.178,190.194.112.55" />
    <!-- Production
    <add key="AllowedMigrationSingleIPs" value="localhost" />
    -->
    <!--
    localhost la propia máquina entrando a http://localhost:8888
    192.168.4.178 mi máqiona de la oficina entrando a http://192.168.0.20:8888
    190.194.112.55 mi máquina de mi casa entrando a http://commonjobs.makingsense.com:8888
    -->
    <!-- Examples
   <add key="AllowedMigrationSingleIPs" value="localhost,10.2.80.21,192.168.2.2"/>
   <add key="AllowedMigrationMaskedIPs" value="10.2.0.0;255.255.0.0,192.168.2.0;255.255.255.0"/>
   <add key="DeniedMigrationSingleIPs" value="10.2.80.21,192.168.2.2"/>
   <add key="DeniedMigrationMaskedIPs" value="10.2.0.0;255.255.0.0,192.168.2.0;255.255.255.0"/>
   -->
  </appSettings>
  <system.web>
    <globalization enableClientBasedCulture="true" uiCulture="es-AR" culture="es-AR"></globalization>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/LogOn" timeout="2880" />
    </authentication>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
    <httpHandlers>
      <add path="*.less" verb="GET" type="dotless.Core.LessCssHttpHandler, dotless.Core" />
    </httpHandlers>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
    <handlers>
      <add name="dotless" path="*.less" verb="GET" type="dotless.Core.LessCssHttpHandler,dotless.Core" resourceType="File" preCondition="" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <connectionStrings>
    <add name="RavenDB" connectionString="Url=http://localhost:8080" />
    <!-- Production
    <add name="RavenDB" connectionString="Url=http://localhost:8090" />
    -->
  </connectionStrings>
  <dotless minifyCss="false" cache="false" web="false" />
  <applicationSettings>
    <CommonJobs.Infrastructure.Properties.Settings>
      <setting name="UploadPath" serializeAs="String">
        <!-- Production
        <value>C:\Sites\CommonJobs\Uploads</value>
        -->
        <value>C:\CommonJobsDEV\Uploads</value>
      </setting>
    </CommonJobs.Infrastructure.Properties.Settings>
  </applicationSettings>
</configuration>