<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <appSettings>
    <add key="CommonJobs/Environment" value="DEV" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="CommonJobs/FakeADGroups"  xdt:Transform="Remove" xdt:Locator="Match(key)" />
    <add key="CommonJobs/ADGroupsPrefix" value="CommonJobsDEV_" xdt:Transform="Insert" />
  </appSettings>

  <connectionStrings>
    <add name="RavenDB" connectionString="Url=http://localhost:8080" xdt:Transform="Replace" xdt:Locator="Match(name)"/>
  </connectionStrings>

  <dotless minifyCss="true" cache="false" web="false" debug="true" disableParameters="true" xdt:Transform="Replace"/>

</configuration>