<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
  
  <appSettings>
    <add key="CommonJobs/Environment" value="PROD" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="CommonJobs/FakeADGroups"  xdt:Transform="Remove" xdt:Locator="Match(key)" />
    <add key="CommonJobs/ADGroupsPrefix" value="CommonJobs_" xdt:Transform="Insert" />
    
    <!-- Temporary URL -->
    <add key="CommonJobs/PublicSiteUrl" value="http://careers.makingsense.com" xdt:Transform="Replace" xdt:Locator="Match(key)" />

    <add key="LOGENTRIES_ACCOUNT_KEY" xdt:Transform="Remove" xdt:Locator="Match(key)" />
    <add key="LOGENTRIES_LOCATION" xdt:Transform="Remove" xdt:Locator="Match(key)" />
  </appSettings>

  <connectionStrings>
    <add name="RavenDB" connectionString="Url=http://localhost:8090" xdt:Transform="Replace" xdt:Locator="Match(name)"/>
  </connectionStrings>

  <dotless minifyCss="true" cache="true" web="false" disableParameters="true" xdt:Transform="Replace"/>

  <applicationSettings>
    <CommonJobs.Infrastructure.Properties.Settings>
      <setting name="UploadPath" serializeAs="String" xdt:Transform="Replace">
        <value>C:\Sites\CommonJobs\Uploads</value>
      </setting>
    </CommonJobs.Infrastructure.Properties.Settings>
  </applicationSettings>

  <nlog xdt:Transform="Replace" xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target
			  xsi:type="AsyncWrapper"
			  name="AsyncLog">
        <target xsi:type="SplitGroup">
          <target name="File" xsi:type="File" fileName="c:\CommonJobsDEV\PROD${shortdate}.log">
            <layout xsi:type="CsvLayout">
              <column name="time" layout="${longdate}" />
              <column name="logger" layout="${logger}"/>
              <column name="level" layout="${level}"/>
              <column name="message" layout="${message}" />
              <column name="exception" layout="${exception:format=tostring}" />
            </layout>
          </target>
        </target>
      </target>
    </targets>
    <rules>
      <logger name="Raven.*" writeTo="AsyncLog"/>
      <logger name="CommonJobs.*" writeTo="AsyncLog"/>
    </rules>
  </nlog>

</configuration>