<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>

  <appSettings>
    <add key="AllowedMigrationSingleIPs" value="127.0.0.1" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="Environment" value="PROD" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
  </appSettings>

  <connectionStrings>
    <add name="RavenDB"
      connectionString="Url=http://localhost:8090"
      xdt:Transform="Replace" />
  </connectionStrings>
  
  <dotless minifyCss="true" cache="true" web="false" xdt:Transform="Replace" />
  
  <applicationSettings>
    <CommonJobs.Infrastructure.Properties.Settings>
      <setting name="UploadPath" serializeAs="String" xdt:Transform="Replace">
        <value>C:\Sites\CommonJobs\Uploads</value>
      </setting>
    </CommonJobs.Infrastructure.Properties.Settings>
  </applicationSettings>
  
</configuration>