// from lighter to darker
@color_primary_light: #979FBA;
@color_primary_semi_light: #8B96BA;
@color_primary_medium: #505979;
@color_primary_semi_dark: #383C46;
@color_primary_dark: #051032;

@color_secondary_b_light: #92A8B7;

@card_picture_width: 50px;
@card_picture_height: 50px;

.rounded_corners(@radius: 10px) {
    -moz-border-radius: @radius;
    -webkit-border-radius: @radius;
    border-radius: @radius;
}

.box_sizing_border_box
{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.card
{
    border: 1px solid #bbb;
    padding: 10px;
    height: 80px;
    .rounded_corners(10px);
	cursor: pointer;
}

.cardPicture 
{
    width: @card_picture_width;
    height: @card_picture_height;
    float: left;
    margin-right: 10px;
}

.cardDescription 
{
    margin-left: 62px;
    min-width: 150px;

	p
    {
		line-height: 1.2em;
    }
}

#addNewCard .cardDescription p
{
	height: @card_picture_height;
	line-height: @card_picture_height;
}

.employeeName 
{
    font-weight: bold;
}

.employeePosition 
{
    font-style: italic;
}

/*from http://designshack.net/articles/css/beating-borders-the-bane-of-responsive-layout/ */
.column 
{
    min-width: 200px;
	width: 15.5%;
	float: left;
	margin: 1em 0.5% 0 0.5%;
	border: 1px solid @color_primary_dark;
	padding: 15px;
	.box_sizing_border_box;
}

.searchContainer
{
	background-color: @color_primary_semi_light;
	padding-top: 2em;
	padding-bottom: 2em;
}

.quickSearchContainer, #quickSearch
{
	font-size: 1.5em;
}

.quickSearchContainer label 
{
	color: white;
}

.employeeTags 
{
	font-size: 0.8em;
	padding-top: 0.2em;
	overflow: hidden;
	white-space: nowrap;
	height: 1.5em;

	.tag 
    {
		background-color: @color_secondary_b_light;
		color:  white;
		padding-left: 0.5em;
		padding-right: 0.5em;
		.rounded_corners(2px);
    }
}
