.employeeCard 
{
    border: 1px solid #bbb;
    padding: 10px;
    height: 80px;
    border-radius: 10px;   
}

.employeePicture 
{
    width: 50px;
    height: 50px;
    float: left;
    margin-right: 10px;
}

.employeePreview 
{
    margin-left: 62px;
    min-width: 150px;
}

.employeePreview p 
{
    line-height: 1.2em;
}

.employeeName 
{
    font-weight: bold;
}

.employeePosition 
{
    font-style: italic;
}

/*from http://designshack.net/articles/css/beating-borders-the-bane-of-responsive-layout/ */
.column 
{
    min-width: 200px;
	width: 14%;
	float: left;
	margin: 1em 1% 0 1%;
	border: 1px solid black;
	padding: 15px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}