@import "../EmployeesBase.less";
@import "../EditCommon/EditScreen.less";
@import "../EditCommon/EditPerson.less";

.personal-data, .Employment-data
{
	float: left;
	width: 45%;
	padding-right: 2em;
	border-right: 1px solid black;
}

.salary-data 
{
	padding-left: 2em;
	display: none;
}

.notes-data 
{
	display: none;
}

.confidential-info-title
{
	font-size: 12px;
	color: blue;
	cursor: pointer;
	font-weight: normal;
}

.vacations 
{
	border-width: 0;
}

.vacation-items ul 
{
	padding-left: 0;
}

.vacations-period-column, .vacations-period-column input
{
	width: 55px;
	text-align: center;
}

.vacations-from-column, .vacations-from-column input 
{
	width: 100px;
	text-align: center;
}

.vacations-to-column, .vacations-to-column input 
{
	width: 100px;
	text-align: center;
}

.vacation-days
{
	width: 70px;
	text-align: center;
}

.vacation-items-total
{
	border-top: 1px solid black;
	margin-top: 5px;
	padding-top: 2px;
}

.share-profile {
	.remove-button  {
		padding-left: 5px;
		padding-right: 5px;
		.rounded_corners(0);
		background-color: @color_primary_lighter;
		border: 0;
		font-size: 0.8em;
		margin: 0;
	}

	ul {
		padding-left: 0;
	}
}