@{
    ViewBag.Title = "Index";
    ScriptManager.RegisterCss(Url.Content("~/Content/home.less"));
}

<h1>¡Bienvenido a CommonJobs!</h1>

<div class="menuContainer">
    <!-- first row -->
    <div class="menuItem">
        <img src="../../Content/Home/employees.png" />
        <p>Empleados</p>
    </div>

    <div class="menuItem">
        <img src="../../Content/Home/files.png" />
        <p>Legajo</p>
    </div>

    <div class="menuItem">
        <img src="../../Content/Home/attach.png" />
        <p>Archivos</p>
    </div>

    <div class="menuItem">
        <img src="../../Content/Home/mymenu.png" />
        <p>MyMenu</p>
    </div>

    <!-- second row -->
    <div class="menuItem">
        <img src="../../Content/Home/applicant.png" />
        <p>Postulantes</p>
    </div>

    <div class="menuItem">
        <img src="../../Content/Home/vacation.png" />
        <p>Vacaciones</p>
    </div>

    <div class="menuItem">
        <img src="../../Content/Home/absence.png" />
        <p>Ausencias</p>
    </div>

    <div class="menuItem">
        <img src="../../Content/Home/search.png" />
        <p>Búsquedas</p>
    </div>

    <!-- third row -->
    <div class="menuItem large">
        <img src="../../Content/Home/documentation.png" />
        <p>Documentación</p>
    </div>

    <div class="menuItem large">
        <img src="../../Content/Home/manual.png" />
        <p>Manual de usuario</p>
    </div>

    <div class="menuItem large">
        <img src="../../Content/Home/sourcecode.png" />
        <p>Código fuente</p>
    </div>
</div>
