@{
    ScriptManager.RegisterCss(Url.Content("~/Content/Site.css"));
    ScriptManager.RegisterJs(Url.Content("~/Scripts/jquery-1.5.1.min.js"));
    ScriptManager.RegisterJs(Url.Content("~/Scripts/modernizr-1.7.min.js"));
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    @Html.RenderScriptManagerEntries()
</head>

<body>
    @RenderBody()
</body>
</html>
