h1 {
	text-align: center;
}

h2 {
	font-size: 18px;
}

.menuContainer {
	width: 630px;
	margin: auto;
	text-align: center;
	font-size: 0;

	.menuItem {
		border: 1px solid #CCC;
		display: inline-block;
		width: 120px;
		margin: 5px;
		padding: 10px;
		text-align: center;
		font-size: 14px;
		box-shadow: -3px 3px 5px 0px #CCC;
		-webkit-box-shadow: -3px 3px 5px 0px #CCC;

		p {
			font-size: 18px;
			margin-top: 0;
		}

		&:hover {
			background-color: #D3D6FF;
			border: 1px solid #A8AAC9;
		}
	}

	.menuItem.large {
		width: 192px;
		margin: 5px;
		padding: 0;
	}
}