body
{
    font-size: .85em;
    font-family: "Trebuchet MS", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
}

.bootstrap-scope .navbar .brand {
    padding-right: 0;
    padding-left: 0;
    margin-left: 20px;
    margin-right: 5px;
    font-weight: bold;
    color: #FFF;
    text-shadow: 0 1px 0 rgba(255,255,255,.1), 0 0 30px rgba(255,255,255,.125);
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    transition: all .2s linear;
}

header,
footer,
nav,
section {
    display: block;
}

/* Styles for basic forms
-----------------------------------------------------------*/

fieldset 
{
    border:1px solid #ddd;
    padding:0 1.4em 1.4em 1.4em;
    margin:0 0 1.5em 0;
}

legend 
{
    font-size:1.2em;
    font-weight: bold;
}

textarea 
{
    min-height: 75px;
}

.editor-label 
{
    margin: 1em 0 0 0;
}

.editor-field 
{
    margin:0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}

body span.rdbprofilerbutton
{
    background: none repeat scroll 0 0 #505979;
    border: 1px solid #A7ACBC;
    color: #A7ACBC;
    font-size: 8px;
    width: 32px;
    text-align: center; 
}

.bootstrap-scope table td.center,
.bootstrap-scope table th.center
{
    text-align: center
}

.bootstrap-scope table td.right,
.bootstrap-scope table th.right
{
    text-align: right
}

body div.bootstrap-scope.navbar-container 
{
    margin-bottom:56px;
}

.page-header 
{
    text-align: center; 
    margin-bottom: 5px;
}

.page-header label.checkbox
{
    margin-right: 10px;
}

/*header*/
.header__main{width:100%}.header__main .header__holder{background-color:#000;position:relative}.header__main .suit-wrapper,.header__main .content__main{*zoom:1;width:auto;max-width:75em;float:none;display:block;margin-right:auto;margin-left:auto;padding-left:0;padding-right:0;position:relative;height:7.1875em;padding-left:20px;padding-right:20px}.header__main .suit-wrapper:before,.header__main .content__main:before,.header__main .suit-wrapper:after,.header__main .content__main:after{content:'';display:table}.header__main .suit-wrapper:after,.header__main .content__main:after{clear:both}.header__main .logo{display:block;max-width:12.5em;float:left;position:relative;top:50%;left:auto;-webkit-transform:translate(0, -50%);-ms-transform:translate(0, -50%);transform:translate(0, -50%)}.header__breadcrum{float:left;margin-left:30px;color:#fff;position:relative;top:50%;left:auto;-webkit-transform:translate(0, -50%);-ms-transform:translate(0, -50%);transform:translate(0, -50%)}.header__sub{float:right;position:relative;top:50%;left:auto;-webkit-transform:translate(0, -50%);-ms-transform:translate(0, -50%);transform:translate(0, -50%)}.header__sub .icon-question-mark{font-size:1.6875em;color:#fff;vertical-align:middle;margin-right:20px}.header__user{font-weight:700;color:#fff}.header__user a{opacity:0.50;color:inherit;-webkit-transition:all 0.25s ease;transition:all 0.25s ease}