body
{
    font-size: .85em;
    font-family: "Trebuchet MS", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
}

.bootstrap-scope .navbar .brand {
    padding-right: 0;
    padding-left: 0;
    margin-left: 20px;
    margin-right: 5px;
    font-weight: bold;
    color: #FFF;
    text-shadow: 0 1px 0 rgba(255,255,255,.1), 0 0 30px rgba(255,255,255,.125);
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    transition: all .2s linear;
}

header,
footer,
nav,
section {
    display: block;
}

/* Styles for basic forms
-----------------------------------------------------------*/

fieldset 
{
    border:1px solid #ddd;
    padding:0 1.4em 1.4em 1.4em;
    margin:0 0 1.5em 0;
}

legend 
{
    font-size:1.2em;
    font-weight: bold;
}

textarea 
{
    min-height: 75px;
}

.editor-label 
{
    margin: 1em 0 0 0;
}

.editor-field 
{
    margin:0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}

body span.rdbprofilerbutton
{
    background: none repeat scroll 0 0 #505979;
    border: 1px solid #A7ACBC;
    color: #A7ACBC;
    font-size: 8px;
    width: 32px;
    text-align: center; 
}

.bootstrap-scope table td.center,
.bootstrap-scope table th.center
{
    text-align: center
}

.bootstrap-scope table td.right,
.bootstrap-scope table th.right
{
    text-align: right
}

body div.bootstrap-scope.navbar-container 
{
    margin-bottom:56px;
}

.page-header 
{
    text-align: center; 
    margin-bottom: 5px;
}

.page-header label.checkbox
{
    margin-right: 10px;
}

/*New css*/
html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary{display:block}audio,canvas,progress,video{display:inline-block;vertical-align:baseline}audio:not([controls]){display:none;height:0}[hidden],template{display:none}a{background-color:transparent}a:active,a:hover{outline:0}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:bold}dfn{font-style:italic}h1{font-size:2em;margin:0.67em 0}mark{background:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-0.5em}sub{bottom:-0.25em}img{border:0}svg:not(:root){overflow:hidden}figure{margin:1em 40px}hr{box-sizing:content-box;height:0}pre{overflow:auto}code,kbd,pre,samp{font-family:monospace, monospace;font-size:1em}button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0}button{overflow:visible}button,select{text-transform:none}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}input{line-height:normal}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0}input[type="number"]::-webkit-inner-spin-button,input[type="number"]::-webkit-outer-spin-button{height:auto}input[type="search"]{-webkit-appearance:textfield;box-sizing:content-box}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:0.35em 0.625em 0.75em}legend{border:0;padding:0}textarea{overflow:auto}optgroup{font-weight:bold}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}*,*:before,*:after{box-sizing:border-box}body,html{font:400 1em proxima-nova,sans-serif;background-color:#fff;color:#687392}img{display:inline-block;max-width:100%;height:auto;outline:0}strong{font-weight:700}fieldset{border:none;padding:0;margin:0}blockquote{margin:0}menu ul,menu li,nav ul,nav li{margin:0;padding:0}hr{width:100%;height:20px;margin:0 0 20px;border:none;border-bottom:1px dashed}button:focus{outline:none}a{text-decoration:none;-webkit-transition:all 0.25s ease;transition:all 0.25s ease}.sidebar__periodos,.footer__main p{text-align:center}html,button{-webkit-font-smoothing:antialiased}h1,h2,h3,h4,h5,h6{font-weight:400;color:#5D7186}h1{margin:0.625em 0 0.3125em;font-size:2.25em;line-height:1.2}h2{font-size:1.875em;line-height:1.4}h3{font-size:1.5em}h4{font-size:1.375em}h5{font-size:1.125em}h6{font-size:1em}.text--small{color:#75716D;font-size:0.8125em;line-height:1.8;text-align:left}.text--lead{font-size:1.125em;color:#524C47}.header__main{width:100%}.header__main .header__holder{background-color:#000;position:relative}.header__main .suit-wrapper,.header__main .content__main{*zoom:1;width:auto;max-width:75em;float:none;display:block;margin-right:auto;margin-left:auto;padding-left:0;padding-right:0;position:relative;height:7.1875em;padding-left:20px;padding-right:20px}.header__main .suit-wrapper:before,.header__main .content__main:before,.header__main .suit-wrapper:after,.header__main .content__main:after{content:'';display:table}.header__main .suit-wrapper:after,.header__main .content__main:after{clear:both}.header__main .logo{display:block;max-width:12.5em;float:left;position:relative;top:50%;left:auto;-webkit-transform:translate(0, -50%);-ms-transform:translate(0, -50%);transform:translate(0, -50%)}.header__breadcrum{float:left;margin-left:30px;color:#fff;position:relative;top:50%;left:auto;-webkit-transform:translate(0, -50%);-ms-transform:translate(0, -50%);transform:translate(0, -50%)}.header__sub{float:right;position:relative;top:50%;left:auto;-webkit-transform:translate(0, -50%);-ms-transform:translate(0, -50%);transform:translate(0, -50%)}.header__sub .icon-question-mark{font-size:1.6875em;color:#fff;vertical-align:middle;margin-right:20px}.header__user{font-weight:700;color:#fff}.header__user a{opacity:0.50;color:inherit;-webkit-transition:all 0.25s ease;transition:all 0.25s ease}.nav__main{width:100%;height:4.375em;background-color:#fff;box-shadow:0px 1px 3px 0px rgba(0,0,0,0.2)}.nav__main a{display:inline-block;margin-right:3.125em;font-size:1.125em;line-height:3.9375em;color:#758697}.nav__main a:hover,.nav__main a.page--is-active{box-shadow:0 -2px 0px 0px #299DD8 inset}.nav__main a.page--is-active{font-weight:700}.sidebar__main{width:100%;max-width:15.9375em;display:inline-block;float:left}.sidebar__main .sidebar__block:first-of-type{padding-top:0}.sidebar__main h3,.sidebar__main h4{margin-top:0}.sidebar__avatar{margin:0 auto;max-width:8.75em;max-height:8.75em;border-radius:624.9375em;overflow:hidden}.sidebar__periodos h2{font-size:1.5em;margin:0.8125em 0 0.3125em}.sidebar__periodos p{margin:0 0 0.75rem}.sidebar__periodos .user-role{font-size:0.875em;font-weight:500;text-transform:uppercase;color:#7F8AA6}.sidebar__periodos .icon-location{font-size:85%;vertical-align:baseline;margin-right:4px;color:#299DD8}.sidebar__periodos .button{margin-bottom:15px}.sidebar__user-actions{margin-top:30px}.sidebar__block{padding:25px 20px;border-bottom:1px solid #ddd}.suit-wrapper,.content__main{*zoom:1;width:auto;max-width:77.5em;float:none;display:block;margin-right:auto;margin-left:auto;padding-left:0;padding-right:0;padding-left:20px;padding-right:20px}.suit-wrapper:before,.content__main:before,.suit-wrapper:after,.content__main:after{content:'';display:table}.suit-wrapper:after,.content__main:after{clear:both}.content__main{*zoom:1;padding-top:50px;min-height:calc(100vh - 185px - 65px)}.content__main:before,.content__main:after{content:'';display:table}.content__main:after{clear:both}.content__main:after{content:"";display:block;height:4.0625em}.section__main{width:100%;max-width:calc(100% - 15.9375em);display:inline-block;float:right;padding-left:40px}.footer__main{height:4.0625em;border-top:1px solid #ddd}.footer__main p{margin:0;font-size:0.875em;color:#777;line-height:4.0625em}.footer__main p a{color:#299DD8;text-decoration:underline}.button{display:inline-block;-webkit-appearance:none;-moz-appearance:none;appearance:none;border:none;outline:none;height:3.75em;line-height:3.75em;min-width:3.125rem;font:400 1em proxima-nova,sans-serif;font-size:1em;text-align:center !important;text-decoration:none;color:#fff;background-color:#299DD8;border-radius:2px;-webkit-transition:all .15s ease;transition:all .15s ease}.button:hover{background-color:#207dac}.button.btn--block{display:block;width:100%}.button.btn--ghost{color:#7F8AA7;background-color:transparent;box-shadow:0 0 2px 0 #7F8AA7 inset}.button.btn--ghost:hover{color:#52596c;background-color:#f4f5f7;box-shadow:0 0 2px 0 #1f2229 inset}.btn--icon{-webkit-appearance:none;-moz-appearance:none;appearance:none;border:none;outline:none;background-color:transparent}.form__search-group>div{max-width:calc(100% - 96px);display:inline-block}.form__search-group .btn{vertical-align:top}.form-group span{overflow:hidden;max-height:0;display:block;padding:0.1875em 1.25em;margin:0;opacity:0;font-size:14px;font-weight:700;-webkit-transition:all .5s ease;transition:all .5s ease}.form-group.has-success span,.form-group.has-warning span,.form-group.has-error span{max-height:50px;opacity:1}.login__form .form-group:not(.has-success):not(.has-warning):not(.has-error):last-of-type{margin-bottom:0}.login__form .btn{margin-top:30px}.form-disabled-field{opacity:0.3;pointer-events:none}em.field--req{margin-left:-5px;margin-right:2px;font-family:inherit !important}em.field--req:before{color:#d9534f;font-style:normal;content:"*";display:inline-block;font-weight:700;font-size:120%}@font-face{font-family:"icon-font";src:url("../fonts/icon-font.eot");font-weight:normal;font-style:normal;}@font-face{font-family:"icon-font";src:url("../fonts/icon-font.eot");src:url("../fonts/icon-font.eot?#iefix") format("embedded-opentype"),url("../fonts/icon-font.woff") format("woff"),url("../fonts/icon-font.ttf") format("truetype"),url("../fonts/icon-font.svg?#icon-font") format("svg");font-weight:normal;font-style:normal;}.ms-icon,[class^="icon-"],[class*=" icon-"]{font-family:"icon-font";display:inline-block;vertical-align:middle;line-height:1;font-weight:normal;font-style:normal;speak:none;text-decoration:inherit;text-transform:none;text-rendering:optimizeLegibility;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}.icon-caret-down:before{content:"\f101"}.icon-caret-up:before{content:"\f102"}.icon-location:before{content:"\f103"}.icon-question-mark:before{content:"\f104"}.icon-remove:before{content:"\f105"}[class^="icon-"],[class*=" icon-"]{text-decoration:none !important}.icon-spinner-main{font-size:21px;-webkit-animation:spin 1s infinite cubic-bezier(0.26, 0.01, 0.69, 0.99);animation:spin 1s infinite cubic-bezier(0.26, 0.01, 0.69, 0.99)}.modal-dialog{top:0;right:0;bottom:0;position:fixed;z-index:90;margin:0;background-color:rgba(245,245,235,0.9);visibility:hidden;opacity:0;-webkit-transition:visibility 0s ease,opacity 0.5s ease;transition:visibility 0s ease,opacity 0.5s ease}.modal-dialog:target,.modal-dialog:target .modal-dialog__wrapper,.modal-dialog .modal-dialog--is-open{visibility:visible;opacity:1;-webkit-transition-delay:0;transition-delay:0}.modal-dialog:target .modal-dialog__wrapper{margin-top:0}.modal-dialog__wrapper{max-width:80%;max-height:80%;min-width:37.5em;min-height:34.375em;overflow:auto;position:absolute !important;margin-top:-1.5%;padding:20px;background-color:#fff;border-radius:2px;box-shadow:0 0 1px rgba(0,0,0,0.25);opacity:0;-webkit-transition:visibility 0s ease 0.3s,opacity 0.75s ease 0.4s,margin 0.75s ease 0.4s;transition:visibility 0s ease 0.3s,opacity 0.75s ease 0.4s,margin 0.75s ease 0.4s;position:relative;top:50%;left:50%;-webkit-transform:translate(-50%, -50%);-ms-transform:translate(-50%, -50%);transform:translate(-50%, -50%)}.modal-dialog__close{position:absolute;top:20px;right:20px;text-decoration:none !important;text-transform:uppercase;font-size:12px;font-weight:700;color:#333 !important;opacity:0.5}.modal-dialog__close:hover{opacity:0.8}.modal-dialog__close-target{width:0;height:0;display:block;visibility:hidden;overflow:hidden;position:fixed}.table{width:100%;margin-top:1.25em}.table.filter--is-active-1 th:nth-child(1) a,.table.filter--is-active-1 td:nth-child(1){color:#687392;font-weight:700}.table.filter--is-active-2 th:nth-child(2) a,.table.filter--is-active-2 td:nth-child(2){color:#687392;font-weight:700}.table.filter--is-active-3 th:nth-child(3) a,.table.filter--is-active-3 td:nth-child(3){color:#687392;font-weight:700}.table.filter--is-active-4 th:nth-child(4) a,.table.filter--is-active-4 td:nth-child(4){color:#687392;font-weight:700}.table.filter--is-active-5 th:nth-child(5) a,.table.filter--is-active-5 td:nth-child(5){color:#687392;font-weight:700}.table.filter--is-active-6 th:nth-child(6) a,.table.filter--is-active-6 td:nth-child(6){color:#687392;font-weight:700}.table.filter--is-active-7 th:nth-child(7) a,.table.filter--is-active-7 td:nth-child(7){color:#687392;font-weight:700}.table.filter--is-active-8 th:nth-child(8) a,.table.filter--is-active-8 td:nth-child(8){color:#687392;font-weight:700}.table.filter--is-active-9 th:nth-child(9) a,.table.filter--is-active-9 td:nth-child(9){color:#687392;font-weight:700}.table.filter--is-active-10 th:nth-child(10) a,.table.filter--is-active-10 td:nth-child(10){color:#687392;font-weight:700}.table td,.table th{padding:20px;text-align:left;border-bottom:1px solid #d9d9d9}.table thead th a{font-size:0.875em;font-weight:400;color:#999;text-transform:uppercase}.table thead th a:hover,.table thead th a.filter--is-active{color:#687392}.table thead th a.filter--is-active{font-weight:700}.table thead th a [class*="icon-"]{font-size:80%;vertical-align:baseline}.table tbody td{padding:30px 20px;font-size:0.9375em;color:#999}.status-badge{display:inline-block;margin-right:3px;width:10px;height:10px;border-radius:624.9375em}.status-badge.status--active{background-color:#6ACE9F}.status-badge.status--ended{background-color:#ccc}
/*# sourceMappingURL=styles.css.map */