ul 
{
    list-style: none;
	padding-left: 2em;
}

h2 
{
	border-bottom: solid 1px black;
	padding-bottom: 0;
}

h3 
{
	margin-top: 0;
}

.editable-field {
	.list-editable li {
		margin-bottom: 3px;

		.remove-button {
			margin-right: 3px;
		}
	}

	.add-button {
		margin-left: 25px;
	}
}

.view-attached .view-editable-content {
	margin-right: 5px;
}

.edition-force-readonly .editing-bar { display: none }
.edition-force-readonly .admin-section { display: none }

input, select {
	border-top: none;
	border-right: none;
	border-left: none;
	border-bottom: 1px solid  rgb(221, 221, 221);
}

#EditApp 
{
	width: 942px;
	padding-top: 80px;
	margin: 1em auto;
	background-color: white;
	position: relative;
}

.qq-upload-button-focus {outline:1px dotted black;}

.qq-upload-button-hover, .editable-field .view-editable:hover, .editable-field .view-editable-empty:hover
{
    background-color: rgb(230, 242, 255);
	background-color: rgba(0, 128, 255, 0.1);
}

.qq-upload-button-hover .qq-upload-button-indicator
{
	background-image: url("uploadAvatar.png");
	background-repeat: no-repeat;
	background-position: right bottom;
    position: absolute;
	width: 23px;
	height: 22px;
    bottom: 2px;
    right: 2px;
}

.view-editable-prototype
{
    background-color: rgb(255, 255, 230);
	background-color: rgba(255, 255, 0, 0.1);
}

a.editable-field.editable-link, a.view-editable-empty.editable-link
{
	color: blue;
	border-bottom: none;
}

.editable-field .view-editable-empty
{
    color:#CCCCCC;
    font-style:italic;
	border-bottom: dashed 1px #DDD; //Ocultando progresivamente estos subrayados horribles :P
}


.editable-field .view-editable 
{
	border-bottom: dashed 1px #DDD; //Ocultando progresivamente estos subrayados horribles :P
}

.field-name
{
    margin-right:.3em;
    font-weight: bold;
}

.reference-editable-field 
{
	border-bottom: dashed 1px black;
}

.editing-bar 
{
	padding: 1em;
	background-color: @color_primary_lighter;
	.rounded_corners(10px);
	position: fixed;
	top: 40px;
	width: 902px;
	z-index: 10;

	p
    {
		line-height: 1em;
		margin-bottom: 0;
    }

	.references
    {
		ul 
        {
        	padding-left: 0;
			list-style-type: disc;
			list-style-position:  inside;
			
			li 
            {
            	padding-bottom: 0.5em;
            }
        }
    }

	.editable-field .view-editable-empty
	{
		color: #888;
	}
}

.timestamp-field 
{
	font-style: italic;
}

.markdown-content 
{
    background-color: rgb(255, 255, 247);
	background-color: rgba(255, 255, 0, 0.03);
}

.markdown-content ul
{
	list-style-type:disc
}

.markdown-content ul ul
{
	list-style-type:square
}

.markdown-content ul ul ul
{
	list-style-type:circle
}

.icon-edit
{
	/* taken from http://findicons.com/icon/70648/writing?id=407322, GNU/GPL */
	background-image: url("icon-edit.png");
	background-position: initial;
	vertical-align: middle;
	display: inline-block;
	width: 14px;
	height: 14px;
}

#EditApp.file-dropzone input[type='file'].dropzoneinput {
	display: none
}


#EditApp.file-dropzone.hover {
	background-color: #DDD;
	border-style: dashed;
	border-width: 2px; 
}

#EditApp.file-dropzone.drop-fade {
    -webkit-transition: background-color .5s ease-out;
    -moz-transition: background-color .5s ease-out;
    -ms-transition: background-color .5s ease-out;
    -o-transition: background-color .5s ease-out;
    transition: background-color .5s ease-out;
}

.modal.error .modal-header {
	background-color: #EEBBCC;
}

.modal.error .subtitle {
	color: RED;
}

.last-modified {
    font-size: smaller; color: GrayText; font-style: italic;
}

.related-employee {
    font-size: smaller; font-style: italic; font-variant: small-caps;
}

.related-applicant {
	font-size: smaller; font-style: italic; 
}