@{
    ViewBag.Title = "Vacations";
    ScriptManager.RegisterCss(Url.Content("~/Content/ie.css"), priority: 500, htmlAttributes: new { media = "screen" }, patchCondition: "lte IE 9");
    ScriptManager.RegisterCss(Url.Content("~/Content/1140.css"), priority: 500, htmlAttributes: new { media = "screen" });
    ScriptManager.RegisterCss(Url.Content("~/Content/reset.css"), priority: 500);
    ScriptManager.RegisterJs(Url.Content("~/Scripts/DataTables/jquery.dataTables.js"));
    ScriptManager.RegisterJs(Url.Content("~/CJLogic/CJLogic.CalculateVacations.js"));
    ScriptManager.RegisterJs(Url.Content("~/Content/DataTablesHelpers/DataTablesHelpers.js"));
    ScriptManager.RegisterJs(Url.Content("~/Content/Vacations/Vacations.js"));
    ScriptManager.RegisterCss(Url.Content("~/Content/DataTables/css/jquery.dataTables.css"));
    ScriptManager.RegisterJs(Url.Content("~/Content/TableTools-2.1.4/media/js/ZeroClipboard.js"));
    ScriptManager.RegisterJs(Url.Content("~/Content/TableTools-2.1.4/media/js/TableTools.js"));
    ScriptManager.RegisterCss(Url.Content("~/Content/TableTools-2.1.4/media/css/TableTools.css"));
    ScriptManager.RegisterGlobalJavascript("TableTools.DEFAULTS.sSwfPath", Url.Content("~/Content/TableTools-2.1.4/media/swf/copy_csv_xls_pdf.swf"));
}

<div class="bootstrap-scope">
    <table id="vacations-table" cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th>Nombre</th>
            <th class="center">Ingreso</th>
            <th class="center">Adeudadas</th>
            <th class="center">Tomadas</th>
            @foreach (var y in ViewBag.years)
            {
                <th class="center year-@y">@y</th>
            } 
            <th class="center old">Anteriores</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
	<tfoot>
		<tr>
            <th></th>
            <th class="right">Totals</th>
            <th class="center pending"></th>
            <th class="center taken"></th>
            @foreach (var y in ViewBag.years)
            {
                <th class="center year-@y"></th>
            } 
            <th class="center old"></th>
		</tr>
	</tfoot>
    </table>
</div>