@{
    ViewBag.Title = string.IsNullOrEmpty(ViewBag.AnotherMenuUser) ? "Mi Menú · CommonJobs" : "Menú de " + ViewBag.AnotherMenuUser + " · CommonJobs";
    ScriptManager.RegisterJs(Url.Content("~/Scripts/my-menu-page.js"));
}

<div class="container">

    <div data-bind="with: todayOrder()">
        <h4>
            <span data-bind="text: $root.EmployeeName"></span> - <span data-bind="text: moment(Date).format('dddd, D [de] MMMM YYYY')"></span> (Semana <span data-bind="text: WeekIdx + 1"></span>)
        </h4>
                
        <!-- ko ifnot: IsOrdered -->
        <span class="badge badge-success">
            El pedido aún no fue realizado. Puede modificarse editando el <em><span data-bind="text: moment(Date).format('dddd')"></span> de la Semana <span data-bind="text: WeekIdx + 1"></span></em> o el <em>día específico</em>.
        </span>
        <!-- /ko -->
        <!-- ko if: IsOrdered -->
        <span class="badge badge-warning">
            El pedido ya fue realizado y no puede ser modificado. Si no fue de su agrado, recuerde actualizar el menú semanal (<em>Semana <span data-bind="text: WeekIdx + 1"></span> / <span data-bind="text: moment(Date).format('dddd')"></span></em>).
        </span>
        <!-- /ko -->

        <dl class="dl-horizontal">
            <!-- ko ifnot: Food -->
            <dt>Comida:</dt>
            <dd><strong class="text-error">No come aquí</strong></dd>
            <!-- /ko -->
            <!-- ko if: Food -->
            <dt>Lugar:</dt>
            <dd data-bind="text: Place"></dd>
            <dt>Opción:</dt>
            <dd data-bind="text: Option"></dd>
            <dt>Comida:</dt>
            <dd data-bind="text: Food"></dd>
            <!-- /ko -->
            <!-- ko with: Comment -->
            <dt>Comentario:</dt>
            <dd data-bind="text: $data"></dd>
            <!-- /ko -->
        </dl>
        
        <!-- ko ifnot: IsOrdered -->
        <div class="alert alert-info">
            <strong>Coming soon!</strong> Si aún no se ha hecho el pedido, se podrá modificar el menú del día directamente desde aquí.
        </div>
        <!-- /ko -->

        <hr />

    </div>

    <ul class="nav nav-tabs" id="myTab">
        <li class="active"><a href="#configTab" data-toggle="tab">Configuración</a></li>
        <li><a href="#overridesTab" data-toggle="tab">Días específicos</a></li>
        <!-- ko foreach: Weeks -->
        <li><a data-toggle="tab" data-bind="attr: { href: '#week' + Key + 'Tab' }, text: Text"></a></li>
        <!-- /ko -->
    </ul>

    <div class="tab-content">
        <div class="tab-pane active" id="configTab">
            <form class="form-horizontal">
                <div class="control-group">
                    <label class="control-label" for="defaultPlace">Lugar por defecto:</label>
                    <div class="controls">
                        <select id="defaultPlace" data-bind="options: menu.Places, 
                                        optionsText: 'Text', optionsValue: 'Key', 
                                        value: DefaultPlaceKey, 
                                        optionsCaption: 'Seleccione...'">
                        </select>
                    </div>
                </div>
            </form>
            <div class="alert alert-info">
                <strong>Coming soon!</strong> También se podrá configurar si se desean recibir notificaciones por e-mail.
            </div>
        </div>

        <div class="tab-pane" id="overridesTab">
            <div class="alert alert-info">
                <strong>Coming soon!</strong> Pronto los cambiós por días específicos se realizarán en una vista de calendario y se permitirá marcar un periodo de varios días.
                Por ahora: ¡formularios sin validación!
            </div>

            <button class="btn" type="button" data-bind="click: addOverride"><i class="icon-plus"></i>Agregar</button>
            <br /><br />
            <!-- ko foreach: Overrides -->
            <form class="well well-small form-horizontal">

                <div class="row-fluid">
                    <div class="span3">
                        <button class="btn" type="button" data-bind="click: $root.removeOverride"><i class="icon-remove"></i>Quitar</button>
                    </div>
                    <div class="span9" data-bind="with: $root.dateFormated(Date())">
                        <!-- ko if: old -->
                            <span class="label label-inverse pull-right" data-bind="text: text"></span>
                        <!-- /ko -->
                        <!-- ko if: !old && today -->
                            <span class="label label-important pull-right" data-bind="text: text"></span>
                        <!-- /ko -->
                        <!-- ko if: !old && near && !today -->
                            <span class="label label-warning pull-right" data-bind="text: text"></span>
                        <!-- /ko -->
                        <!-- ko if: !old && !near && !today -->
                            <small class="muted pull-right" data-bind="text: text"></small>
                        <!-- /ko -->
                    </div>
                </div>


                <div class="control-group">
                    <label class="control-label">Fecha:</label>
                    <div class="controls">
                        <input type="text" class="span2" data-bind="datepicker: Date, datepickerOptions: { dataType: 'iso' }" />
                        <input class="span6" type="text" readonly="readonly" data-bind="value: $root.getDayWeekLabel(Date)"/>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Comentario:</label>
                    <div class="controls">
                        <input type="text" class="span6" data-bind="value: Comment" />
                    </div>
                </div>

                <div class="control-group">
                    <div class="controls">
                        <label class="checkbox">
                            <input type="checkbox" data-bind="checked: Cancel">Cancelar comida del día
                        </label>
                    </div>
                </div>

                <!-- ko if: !Cancel() -->

                <div class="control-group">
                    <label class="control-label">Menú</label>
                    <div class="controls">
                        <select class="span2" data-bind="options: $root.menu.Options, 
                                        optionsText: 'Text', optionsValue: 'Key', 
                                        value: OptionKey, 
                                        optionsCaption: 'El menú de siempre'">
                        </select>
                        <input class="span6" type="text" readonly="readonly" data-bind="value: $root.getDayWeekOptionOverrideInfo(Date, OptionKey)" />
                    </div>
                    
                </div>

                <div class="control-group">
                    <label class="control-label">Lugar</label>
                    <div class="controls">
                        <select class="span2" data-bind="options: $root.menu.Places, 
                                        optionsText: 'Text', optionsValue: 'Key', 
                                        value: PlaceKey, 
                                        optionsCaption: 'El lugar de siempre'">
                        </select>
                        <input class="span6" type="text" readonly="readonly" data-bind="value: $root.getDayWeekPlaceOverrideInfo(Date, PlaceKey)" />
                    </div>
                </div>

                <!-- /ko -->

            </form>
            <!-- /ko -->
        </div>

        <!-- ko foreach: Weeks -->
        <div class="tab-pane" data-bind="attr: { id: 'week' + Key + 'Tab' }">
            <!-- ko foreach: MyMenu.days() -->
            <div class="well well-small">
                <div class="row-fluid">
                    <div class="span3">
                        <strong><!--ko text: MyMenu.days.getName($data)--><!--/ko--></strong>
                    </div>
                    <div class="span9" data-bind="with: $root.nearFormated($parent.Key, $data)">
                        <!-- ko if: today -->
                            <span class="label label-important pull-right" data-bind="text: text"></span>
                        <!-- /ko -->
                        <!-- ko if: near && !today -->
                            <span class="label label-warning pull-right" data-bind="text: text"></span>
                        <!-- /ko -->
                        <!-- ko if: !near && !today -->
                            <small class="muted pull-right" data-bind="text: text"></small>
                        <!-- /ko -->
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="offset1 span7">
                        <label>
                            <input type="radio" data-bind="attr: { name: 'option_' + $parent.Key + '_' + $data }, value: '', checked:$root.getMenuChoice($parent.Key, $data)" />
                            No como aquí
                        </label>
                        <!-- ko foreach: $root.menu.Options -->
                        <label>
                            <input type="radio" data-bind="attr: { name: 'option_' + $parentContext.$parent.Key + '_' + $parent }, enable: $root.menu.getFood($parentContext.$parent.Key, $parent, Key), value: Key, checked:$root.getMenuChoice($parentContext.$parent.Key, $parent)" />
                            <!--ko text: Text--><!--/ko-->: <em><!--ko text: $root.menu.getFood($parentContext.$parent.Key, $parent, Key)--><!--/ko--></em>
                        </label>
                        <!-- /ko -->
                    </div>
                    <!-- ko if: $root.getMenuChoice($parent.Key, $data)() -->
                    <div class="span3">
                        <select data-bind="options: $root.menu.Places, 
                            optionsText: 'Text', optionsValue: 'Key', 
                            value: $root.getPlaceChoice($parent.Key, $data), 
                            optionsCaption: $root.getDefaultPlaceLabel()">
                        </select>
                    </div>
                    <!-- /ko -->
                </div>
            </div>
            <!-- /ko -->
        </div>
        <!-- /ko -->

        
    </div>
</div>
