<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <appSettings>
    <add key="CommonJobs/Environment" value="DEV" xdt:Transform="Replace" xdt:Locator="Match(key)" />
  </appSettings>

  <connectionStrings>
    <add name="RavenDB" connectionString="Url=http://localhost:8080" xdt:Transform="Replace" xdt:Locator="Match(name)"/>
  </connectionStrings>

</configuration>