/* taken from company's major website */
@font-face {
    font-family: 'AsapRegular';
    src: url('/Content/asap-regular-webfont.eot');
    src: url('/Content/asap-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/Content/asap-regular-webfont.woff') format('woff'),
         url('/Content/asap-regular-webfont.ttf') format('truetype'),
         url('/Content/asap-regular-webfont.svg#AsapRegular') format('svg');
    /*
    src: url('../fonts/asap-regular-webfont.eot');
    src: url('../fonts/asap-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/asap-regular-webfont.woff') format('woff'),
         url('../fonts/asap-regular-webfont.ttf') format('truetype'),
         url('../fonts/asap-regular-webfont.svg#AsapRegular') format('svg');
    */
    font-weight: normal;
    font-style: normal;
}

/* RESET */
html, body, div, span, applet, object, iframe,
p, a, abbr, acronym, address, big, cite, 
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
fieldset, form, label, legend,
table, caption, tbody, textarea, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, input,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	border: 0;
}

html, body {
	font-family:'AsapRegular', Trebuchet MS, Arial, Helvetica, sans-serif;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
input, textarea{
	font-weight:normal;
	outline:none;
}

/*GENERAL STYLES*/

html, body{	
	height:100%;
}

header{
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-webkit-box-sizing: border-box;	
	background-color:#FFF;
	box-sizing: border-box;
	margin: auto;
	height:90px;
	padding:15px 30px;
	position:fixed;
	top:0px;
	width:100%;
	z-index:9999;
}


.sections-layout{
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	height:100%;
	padding:90px 30px 55px;
	position:relative;	
	width:100%;
	z-index:0;			   
}

.section-container{
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;	
	border-radius: 5px;
	height:100%;
	position:relative;
	width:100%;	
	z-index:0;
}

	.section-container .outer-container{
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;	
		border-radius: 5px;
		display:table;
		height:100%; 
		width:100%;
	}
	
		.section-container .outer-container .inner-container{
			display:table-cell; 
			text-align:center;		
			vertical-align:middle; 
		}
		
		.section-container .big-button{
			-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
			-moz-user-select: none;  
    		-webkit-user-select: none;  
    		-ms-user-select: none;
			-webkit-transition: background-color .2s linear; 
			-moz-transition: background-color .2s linear; 
			-ms-transition: background-color .2s linear; 
			-o-transition: background-color .2s linear;
			background-color:#00A56C;	 							
			border-radius: 5px;	
			border:0px;
			color:#FFF;
			cursor:pointer;
			font-size:18px;
			height:48px;
			line-height:48px;
			padding-bottom:2px;
			transition: background-color .2s linear;
			width:284px;
		}
			
			.section-container .big-button:hover{
				background-color:#4B2511;
			}

footer{
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-webkit-box-sizing: border-box;	
	background-color:#FFF;
	box-sizing: border-box;
	bottom:0px;
	height:55px;		
	padding:15px 30px 0px;
	position:fixed;	
	width:100%;
	z-index:9999;
}
			
/*----------------*/
/* Careers styles */
/*----------------*/

.careers-section .title{
    background:url(/Content/website_green_logo.png) no-repeat 0px 0px;
	/*background:url(../images/website_green_logo.png) no-repeat 0px 0px;*/
	display:inline-block;	
	height:80px;
	margin-bottom:20px;
	width:258px;
}

.careers-section .inner-container{
	padding-bottom:58px;
}
			