.section-container {
    display: block;
}

#postulations.inner-container {
    text-align: left;
    padding-left: 100px;
    padding-right: 100px;
    background-color: rgba(255, 255, 255, 0.8);
}

    #postulations.inner-container .new-application {
        display: block;
        width: 940px;
        margin: 1em auto 0 auto;
    }

.center {
    text-align: center;
}

.textField .editor-field {
}

p em {
    font-style: italic;
}

.textField .editor-field {
    -webkit-transition: border-color 0.2s linear;
    -moz-transition: border-color 0.2s linear;
    -ms-transition: border-color 0.2s linear;
    -o-transition: border-color 0.2s linear;
    border-bottom: 1px solid #6d7e79;
    display: inline-block;
    padding-bottom: 5px;
    transition: border-color 0.2s linear;
    width: 275px;
}

.textField.largeTextField .editor-field
{
    padding-bottom: 0;
    border-bottom: none;
}

.editor-label {
    display: inline-block;
    width: 130px;
    vertical-align: top;
}

.notes {
    margin-bottom: 20px;
    text-align: left;
    border-bottom: 1px solid #6d7e79;
}

.notes p {
    margin-bottom: 1em;
}

.inputField {
    margin-bottom: 20px;
}

li .inputField {
    margin-bottom: 15px;
}

    li .inputField .editor-field,
    li .inputField .editor-field input {
        width: 235px;
    }

.fileField>.editor-field {
    display: inline-block;
}

.careers-section {
    background: url(/Content/careers_background.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/Content/careers_background.jpg', sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/Content/careers_background.jpg', sizingMethod='scale')";
}

.careers-section .outer-container {
    background: url(/Content/repeatable_green_background.png) repeat;
}

input, textarea {
    background-color: transparent;
    width: 275px;
    font-family: "AsapRegular", 'Palatino Linotype', Palatino, Arial, sans-serif;
}

textarea
{
    background-image: url(/Content/textareaLines.png);
    background-repeat: repeat;
    background-attachment: local;
    line-height: 32px;
}

.bigThanks {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.hidden {
    display: none;
}

fieldset {
    display: inline-block;
    vertical-align: top;
}

legend {
    padding: 0;
    font-weight: bold;
    margin-bottom: 20px;
}

#technicalSkillList {
    margin-top: 0;
}

    #technicalSkillList .ui-widget {
        font-size: 0.8em;
    }

#btnAddTechnicalSkill {
    margin-left: 40px;
    padding: 3px;
}
