@{
    ViewBag.Title = "Edit";
    ScriptManager.RegisterCss(Url.Content("~/Scripts/mdd_styles.css"));
    ScriptManager.RegisterCss(Url.Content("~/Content/EditApplicant/EditApplicant.less"));
    ScriptManager.RegisterCss(Url.Content("~/Content/jquery.Jcrop.min.css"));
    
    ScriptManager.RegisterJs(Url.Content("~/Scripts/jquery.jcrop.min.js"));
    ScriptManager.RegisterJs(Url.Content("~/Scripts/MarkdownDeepLib.min.js"));
    ScriptManager.RegisterJs(Url.Content("~/Scripts/nervoustissue.js"));
    ScriptManager.RegisterJs(Url.Content("~/Scripts/nervoustissue-uploader.js"));
    ScriptManager.RegisterJs(Url.Content("~/Content/EditApplicant/EditApplicant.js"));
}
@if (false)
{
    <link href="../../Content/EditApplicant/EditApplicant.less" rel="stylesheet" type="text/css" />
    <script src="../../Content/EditApplicant/EditApplicant.js" type="text/javascript"></script>
}
<div id="EditApp" class="edition-normal">
    

    <div class="editing-bar">
        <div class="references">
            <h3>Referencias</h3>
            <ul>
                <li>Click en un <span class="reference-editable-field">campo subrayado</span> para editarlo.</li>
                <li>Click en <em>Guardar Cambios</em> luego de editar.</li>
                <li>Click en <em>Modo de edición &rarr; Todos los campos</em> para editar todos los campos.</li>
            </ul>
        </div>
        <div class="edition-mode">
            <h3>Modo de edición</h3>
            <p><button class="editionNormal">Normal</button></p>
            <p><button class="editionFullEdit">Todos los campos</button></p>
            <!-- <p><button class="editionReadonly">Solo lectura</button></p> -->
        </div>
        <div class="change-management-options">
            <h3>Cambios</h3>
            <p><button class="saveApplicant">Guardar cambios</button></p>
            <p><button class="reloadApplicant">Descartar cambios</button></p>
        </div>
        <div class="danger-zone">
            <h3>Precaución!</h3>
            <p><button class="deleteApplicant">Eliminar postulante</button></p>
        </div>
        <div class="back-link">
            @Html.ActionLink("« Volver al listado", "Index")
        </div>
    </div>
        
    <div class="info-section firstInfo">
        <h1 class="fullName"><span class="editable-field" data-bind="fullName"></span></h1>
        <div class="editable-field photo" data-bind="Photo"></div>
    </div>
    <div class="additional-info-section shared-profile admin-section">
        <div class="isHighligted" class="editable-field" data-bind="IsHighlighted"></div>
        <div>
            <h3>Links de acceso</h3>
            <div class="editable-field" data-bind="SharedLinks"></div>
        </div>
    </div>
    
    <div class="info-section">
        <h2>Datos Personales</h2>
        <div class="personal-data">
            <h3>Información personal</h3>
            <ul>
                <li><span class="field-name">Fecha de nacimiento:</span><span class="editable-field" data-bind="BirthDate"><span class="view-editable view-editable-prototype">5 de Octubre de 1984 (28 años)</span></span></li>
                <li><span class="field-name">Estado Civil:</span><span class="editable-field" data-bind="MaritalStatus"><span class="view-editable view-editable-prototype">Soltero</span></span></li>
                <li><span class="field-name">Dirección:</span><span class="editable-field" data-bind="Address"></span></li>
                <li><span class="field-name">Teléfonos:</span><span class="editable-field" data-bind="Telephones"</span></li>
                <li><span class="field-name">Email:</span><span class="editable-field" data-bind="Email"</span></li>
                <li><img class="linkedIn icon" src="/Content/Images/linkedin_16.png" width="16" height="16" alt="Ver el perfil en LinkedIn" /><span class="field-name">LinkedIn:</span><span class="editable-field" data-bind="LinkedInLink"</span></li>                
            </ul>
        </div>
        <div class="aptitude-data additional-info-section">
            <h3>Aptitudes</h3>
            <ul>
                <li><span class="field-name">Nivel de Inglés:</span><span class="editable-field" data-bind="EnglishLevel"></span></li>
                <li><span class="field-name">Título:</span><span class="editable-field" data-bind="Degree"></span> (<span class="editable-field" data-bind="IsGraduated"><span class="view-editable view-editable-prototype">No graduado</span></span>)</li>
                <li><span class="field-name">Universidad:</span><span class="editable-field" data-bind="College"></li>
                <li><span class="field-name">Skills:</span><span class="editable-field" data-bind="Skills"></span></li>
            </ul>
        </div>
    </div>
    <div class="info-section">
        <h2>Datos Laborales</h2>
        <div class="Employment-data">
            <h3>Experiencia previas en empresas</h3>
            <ul>
                <div class="editable-field" data-bind="CompanyHistory"></div>
            </ul>
        </div>
    </div>    
    <div class="info-section">
        <h2>Notas</h2>
        <div class="editable-field" data-bind="Notes"></div> 
    </div>
</div>