@model CommonJobs.MVC.UI.Models.SearchModel
@{
    ViewBag.Title = "Postulantes | CommonJobs";
    ScriptManager.RegisterCss(Url.Content("~/Content/ie.css"), priority: 500, htmlAttributes: new { media = "screen" }, patchCondition: "lte IE 9");
    ScriptManager.RegisterCss(Url.Content("~/Content/1140.css"), priority: 500, htmlAttributes: new { media = "screen" });
    ScriptManager.RegisterCss(Url.Content("~/Content/reset.css"), priority: 500);
    ScriptManager.RegisterCss(Url.Content("~/Content/Applicants.less"));
}
<script type="text/javascript">
    //TODO: move it to a .js file
    function setResultCount() {
        $("#resultCount").html($(".card").length - 1);
    }

    $(function () {
        $("#quickSearch").keyup(function (e) {
            //TODO Fix hardcoded URLs
            if (e.keyCode == 13) {
                location.href = "/Applicants?term=" + $(this).val();
            } else {
                $(".results").load("/Applicants/List?term=" + encodeURI($(this).val()), null, setResultCount);
            }
        });

        setResultCount();
    });
</script>
<div class="container searchContainer">
    <h1>Postulantes</h1>

    <div class="row">
        <div class="twocol"></div>
        <div class="eightcol quickSearchContainer">
            <form method="get" action="@Url.Action("Index")">
                <label for="quickSearch">Búsqueda rápida:</label>
                <input type="text" id="quickSearch" name="Term" value="@Model.Term" />
                <input type="submit" id="quickSearchSubmit" value=">>" />
            </form>
            <p id="resultCountNotice">Hay <span id="resultCount">0</span> resultado(s).</p>
        </div>
        <div class="twocol last"></div>
    </div>
</div>
<div class="results">
    @Html.Action("List", Model) 
</div>
