.bootstrap-scope .table tbody td.cell-name {
	white-space: nowrap;
}

.bootstrap-scope .table thead th, 
.bootstrap-scope .table tbody td,
.bootstrap-scope .table tbody th, 
.bootstrap-scope .table tfoot th {
	padding: 1px;
}

.bootstrap-scope .table thead th.cell-day, 
.bootstrap-scope .table tbody td.cell-day,
.bootstrap-scope .table tbody th.cell-day,
.bootstrap-scope .table tfoot th.cell-day {
    font-size: 10px;
    font-stretch: ultra-condensed;
    max-width: 11px;
    min-width: 11px;
    width: 11px;
}


.bootstrap-scope .table thead tr th.weekend, 
.bootstrap-scope .table tbody tr td.weekend, 
.bootstrap-scope .table tbody tr th.weekend, 
.bootstrap-scope .table tfoot tr th.weekend {
	background-color: #F0F0F0;
}
