@model CommonJobs.Application.AttachmentSearching.AttachmentSearchParameters
@{
    ViewBag.Title = "Archivos · CommonJobs";
    ScriptManager.RegisterCss(Url.Content("~/Content/ie.css"), priority: 500, htmlAttributes: new { media = "screen" }, patchCondition: "lte IE 9");
    ScriptManager.RegisterCss(Url.Content("~/Content/1140.css"), priority: 500, htmlAttributes: new { media = "screen" });
    ScriptManager.RegisterCss(Url.Content("~/Content/reset.css"), priority: 500);
    ScriptManager.RegisterCss(Url.Content("~/Content/FilesListing/FilesListing.less"));
    ScriptManager.RegisterJs(Url.Content("~/Content/ListingCommon/QuickSearch.js"));
    ScriptManager.RegisterJs(Url.Content("~/Content/FilesListing/FilesListing.js"));
    ScriptManager.RegisterJs(Url.Content("~/Scripts/FileUtilities.js"));
}

<script type="text/template" id="get-more-items-template">
    <div class="column loading get-more-items">
      <img alt="File icon" class="fileIcon" src="../../Content/Images/Actions-go-next-view-page-icon.png" />
      <div>
        <p class="fileTitle ready-content">Click para obtener más...</p>
      </div>
    </div>
</script>

<script type="text/template" id="card-template">
    <% var searchTerm = $('#quickSearch').val(); %>
    <div class="fileResult">
        <img alt="File icon" class="fileIcon" src="<%= FileSearchUtilities.fileIconFromExtension(item.FileName) %>" />
        <p class="fileTitle"><a href="<%= FileSearchUtilities.urlToFile(item.AttachmentId) %>"><%= item.FileName == null ? "(Sin nombre)" : FileSearchUtilities.searchHighlight(item.FileName, searchTerm) %></a></p>
        <% if (item.RelatedEntity != null) { %>
            <p class="fileRelatedTo">(<a href="<%= FileSearchUtilities.urlToRelatedEntity(item.RelatedEntity.Id, item.RelatedEntity.$type) %>"><%= item.RelatedEntity.LastName %>, <%= item.RelatedEntity.FirstName %></a>)</p>
        <% } %>
        <% if (item.PartialText != null) {
            var counter = 0;
            _.each(FileSearchUtilities.splitByNewLines(item.PartialText), function(paragraph) {
                if (!paragraph || !paragraph.replace(/\s+/, "").length) return true;
                if (counter++ > 5) return false; 
                %> <p class="fileDescription"><%= FileSearchUtilities.searchHighlight(paragraph, searchTerm) %></p> <%
            });
        } %>
    </div>
</script>
<div class="bootstrap-scope">
    <div class="container-fluid page-header" style="text-align: center; margin-bottom: 5px;">
        <form method="get" action="javascript:void(0);" class="form-search form-horizontal">
            <div class="control-group">
                <div class="input-append">
                    <input id="quickSearch" type="text" class="search-query input-xlarge" placeholder="Búsqueda de archivos" name="Term" value="@Model.Term"/>
                    <button id="quickSearchSubmit" type="submit" class="btn" title="Buscar ahora"><i class="icon-search"></i></button>
                </div>
            </div>
            <div class="control-group">
                <label class="checkbox" title="Se busca por comienzo o nombre completo, es posible utilizar los comodines '*' y '?'" style="margin-right: 10px"><input type="checkbox" id="SearchOnlyInFileName" name="SearchOnlyInFileName" @(Model.SearchOnlyInFileName ? "checked='checked'" : string.Empty)/>Buscar solo en nombre de archivo</label>
            </div>
        </form>
        <p id="resultCountNotice">Hay <span id="resultCount">0</span> resultado(s).</p>
    </div>
</div>
<div class="results">
</div>