@model CommonJobs.Application.AttachmentSearching.AttachmentSearchParameters
@{
    ViewBag.Title = "Archivos | CommonJobs";
    ScriptManager.RegisterCss(Url.Content("~/Content/ie.css"), priority: 500, htmlAttributes: new { media = "screen" }, patchCondition: "lte IE 9");
    ScriptManager.RegisterCss(Url.Content("~/Content/1140.css"), priority: 500, htmlAttributes: new { media = "screen" });
    ScriptManager.RegisterCss(Url.Content("~/Content/reset.css"), priority: 500);
    ScriptManager.RegisterCss(Url.Content("~/Content/FilesListing/FilesListing.less"));
    ScriptManager.RegisterJs(Url.Content("~/Content/ListingCommon/QuickSearch.js"));
    ScriptManager.RegisterJs(Url.Content("~/Content/FilesListing/FilesListing.js"));
    ScriptManager.RegisterJs(Url.Content("~/Scripts/FileUtilities.js"));
}

<script type="text/template" id="get-more-items-template">
    <div class="column loading get-more-items">
      <img alt="File icon" class="fileIcon" src="../../Content/Images/Actions-go-next-view-page-icon.png" />
      <div>
        <p class="fileTitle ready-content">Click para obtener más...</p>
      </div>
    </div>
</script>

<script type="text/template" id="card-template">
    <% var searchTerm = $('#quickSearch').val(); %>
    <div class="fileResult">
        <img alt="File icon" class="fileIcon" src="<%= FileSearchUtilities.fileIconFromExtension(item.FileName) %>" />
        <p class="fileTitle"><a href="<%= FileSearchUtilities.urlToFile(item.AttachmentId) %>"><%= item.FileName == null ? "(Sin nombre)" : FileSearchUtilities.searchHighlight(item.FileName, searchTerm) %></a></p>
        <% if (item.RelatedEntity != null) { %>
            <p class="fileRelatedTo">(<a href="<%= FileSearchUtilities.urlToRelatedEntity(item.RelatedEntity.Id, item.RelatedEntity.$type) %>"><%= item.RelatedEntity.LastName %>, <%= item.RelatedEntity.FirstName %></a>)</p>
        <% } %>
        <% if (item.PartialText != null) {
            var counter = 0;
            _.each(FileSearchUtilities.splitByNewLines(item.PartialText), function(paragraph) {
                if (!paragraph || !paragraph.replace(/\s+/, "").length) return true;
                if (counter++ > 5) return false; 
                %> <p class="fileDescription"><%= FileSearchUtilities.searchHighlight(paragraph, searchTerm) %></p> <%
            });
        } %>
    </div>
</script>

<div class="container searchContainer">
    <h1>Archivos</h1>

    <div class="row">
        <div class="twocol"></div>
        <div class="eightcol quickSearchContainer">
            <form method="get" action="javascript:void(0);">
                <div class="mainSearch">
                    <label for="quickSearch">Búsqueda rápida:</label>
                    <input type="text" id="quickSearch" name="Term" value="@Model.Term" />
                    <input type="submit" id="quickSearchSubmit" value=">>" />
                </div>
                <div class="secondarySearch">
                    <label title="Se busca por comienzo o nombre completo, es posible utilizar los comodines '*' y '?'">Buscar solo en nombre de archivo</label><input type="checkbox" id="SearchOnlyInFileName" name="SearchOnlyInFileName" @(Model.SearchOnlyInFileName ? "checked='checked'" : string.Empty)/>
                </div>
            </form>
            <p id="resultCountNotice">Hay <span id="resultCount">0</span> resultado(s).</p>
        </div>
        <div class="twocol last"></div>
    </div>
</div>
<div class="results">
</div>