@import "../ApplicantsBase.less";
@import "../EditCommon/EditScreen.less";
@import "../EditCommon/EditPerson.less";

body.highlighted 
{
	background-color: @color_highlight - #111;
}

.editing-bar.highlighted 
{
	background-color: @color_highlight - #333;
}

.Employment-data
{
	float: left;
	width: 100%;
}

.personal-data
{
	float: left;
	width: 45%;
	border-right: 1px solid black;
}

.firstInfo
{
	float: left;
}

.fullName 
{
	margin-top: 0;
}

.isHighligted 
{
	float:  right;
}

.additional-info-section.shared-profile {
	width: 200px;
	margin-top: 1em;
	padding: 1em;
	border: 1px solid black;
	.rounded_corners(10px);
	
	.remove-button  {
		padding-left: 5px;
		padding-right: 5px;
		.rounded_corners(0);
		background-color: transparent;
		border: 0;
		font-size: 0.8em;
		margin: 0;

		&:hover {
			color: @color_primary_semi_light;
		}
	}
}

.linkedIn.icon {
	width: 16px;
	height: 16px;
	display: inline;
	margin-right: 5px;
	vertical-align: baseline;
}