@{
    ViewBag.Title = "Edit";
    ScriptManager.RegisterCss(Url.Content("~/Scripts/mdd_styles.css"));
    ScriptManager.RegisterCss(Url.Content("~/Content/JobSearches/EditJobSearch.less"));
    ScriptManager.RegisterJs(Url.Content("~/Scripts/MarkdownDeepLib.min.js"));
    ScriptManager.RegisterJs(Url.Content("~/Scripts/nervoustissue.js"));
    ScriptManager.RegisterJs(Url.Content("~/Content/JobSearches/EditJobSearch.js"));
}

<div id="EditApp">
    <div class="editing-bar">
        <div class="references">
            <h3>Referencias</h3>
            <ul>
                <li>Click en un <span class="reference-editable-field">campo subrayado</span> para editarlo.</li>
                <li>Click en <em>Guardar cambios</em> luego de editar.</li>
                <li>Click en <em>Modo de edición &rArr; Todos los campos</em> para editar todos los campos.</li>
            </ul>
        </div>
        <div class="edition-mode">
            <h3>Modo de edición</h3>
            <p><button class="editionNormal">Normal</button></p>
            <p><button class="editionFullEdit">Todos los campos</button></p>
            <!-- <p><button class="editionReadonly">Sólo lectura</button></p> -->
        </div>
        <div class="change-management-options">
            <h3>Cambios</h3>
            <p><button class="saveJobSearch">Guardar cambios</button></p>
            <p><button class="reloadJobSearch">Descartar cambios</button></p>
        </div>
        <div class="danger-zone">
            <h3>¡Precaución!</h3>
            <p><button class="deleteJobSearch">Eliminar búsqueda</button></p>
        </div>
        <div class="back-link">
            @Html.ActionLink("« Volver al listado", "Index")
        </div>
    </div>
    
    <h1 class="editable-field title" data-bind="Title"></h1>
    
    <div class="editable-field isPublic" data-bind="IsPublic"></div>
    <div class="editable-field publicCode" data-bind="PublicCode"></div>

    <h2>Notas públicas</h2>
    <div class="editable-field" data-bind="PublicNotes"></div>

    <h2>Información privada</h2>
    <h3>Conocimientos técnicos requeridos</h3>
    <div class="editable-field" data-bind="RequiredTechnicalSkills"></div>

    <h3>Notas</h3>
    <div class="editable-field" data-bind="PrivateNotes"></div>

    <h2>Postulantes sugeridos</h2>
    <div class="suggestedApplicants bootstrap-scope"></div>
</div>

<script id="suggested-applicants-tmpl" type="text/template">
    <% if (!applicants || !applicants.length) { %>
        <p class="no-applicants-notice">No hay ningún postulante que cumpla con los requisitos mínimos para esta búsqueda.</p>
    <% } else { %>
        <table class="table table-condensed table-hover">
            <theader>
                <tr>
                    <th class="name-title">Postulante</th>
                    <% _.each(applicantSkills, function(skill) { %>
                        <th class="skill-header <%= skill.IsRequired ? "required" : "" %>"><%= skill.Name %></th>
                    <% }); %>
                </tr>
            </theader>
            <tbody>
                <% _.each(applicants, function(applicant) {
                       var applicantUrl = urlGenerator.action("Edit", "Applicants", applicant.Id);
                %>
                    <tr>
                        <th><a href="<%= applicantUrl %>" target="_blank"><%= applicant.LastName %>, <%= applicant.FirstName %></a></th>
                        <%
                            _.each(applicantSkills, function(skill) {
                                var currentSkill = _.find(applicant.TechnicalSkills, function (ats) {
                                    return ats.Name == skill.Name;
                                });
                        %>
                            <td class="applicant-skill-level-<%= !!currentSkill ? currentSkill.Level : "" %>">
                                <div class="level-indicator">&nbsp;</div>
                            </td>
                        <% }); %>
                    </tr>
                <% }); %>
            </tbody>
        </table>
    <% } %>
</script>