@{
    ViewBag.Title = "No disponible";
}
@section styles
{
    <link href="@Url.Content("~/Content/Postulations.css")" rel="stylesheet" media="screen" />
}

<div id="carreers-section" class="section-container careers-section">
    <div class="outer-container">
        <div id="postulations" class="inner-container">
            <div class="center">
                <span class="title"></span>
            </div>

            <p class="bigThanks center">No disponible</p>
            
            <p class="center">Lo lamentamos, pero esta búsqueda no existe o ya no se encuentra disponible.</p>
        </div>
    </div>
</div>