@{
    ViewBag.Title = "¡Gracias!";
}
@section styles
{
    <link href="@Url.Content("~/Content/Postulations.css")" rel="stylesheet" media="screen" />
}

<div id="carreers-section" class="section-container careers-section">
    <div class="outer-container">
        <div id="postulations" class="inner-container">
            <div class="center">
                <span class="title"></span>
            </div>

            <p class="bigThanks center">¡Gracias!</p>
            
            <p class="center">Pronto nos pondremos en contacto contigo.</p>
        </div>
    </div>
</div>