@import "../ApplicantsBase.less";
@import "../ListingCommon/PersonListing.less";

.card 
{
	height: 80px;
}

#event_filters > .event-filter input[type=checkbox]
{
	display:none;
}

#event_filters > .event-filter > .reference
{
    display: block;
    float: left;
    height: 15px;
    margin-right: 3px;
    margin-top: 2px;
    width: 15px;
}

.btn-group-vertical label 
{
	margin-bottom: 0px;
}
