<!DOCTYPE html>
<html>
    <head>
        <title>Categories</title>
        <link href="../Content/Site.css" rel="stylesheet" type="text/css" />
        <script src="../Scripts/jquery-1.7.1.min.js" type="text/javascript"></script>
        <script src="../Scripts/modernizr-1.7.min.js" type="text/javascript"></script>
        <script src="../Scripts/underscore.min.js" type="text/javascript"></script>
        <script src="../Scripts/backbone.min.js" type="text/javascript"></script>
        <script src="categories.js" type="text/javascript"></script>
        <link href="categories.css" rel="stylesheet" type="text/css" />
    </head>

  <body>

    <!-- Categories Configuration App Interface -->

    <div id="categoriesConfigurationApp">

      <div class="title">
        <h1>Categories Configuration</h1>
      </div>

      <div class="content">

        <div id="select-category">

            <div id="categories">
                <ul id="category-list"></ul>
            </div>

        </div>

        <div id="edit-category"></div>

        <div id="edit-facet"></div>

      </div>

    </div>

    <!-- Templates -->

    <script type="text/template" id="item-template">
      <span class="categoryitem<%= editing ? ' editing' : ' nonediting' %>">
        <%= description %>
      </span>
    </script>

  </body>

</html>
