@{
    Layout = "_MyMenuLayout.cshtml";
    /*
    ViewBag.Title = ;
    ScriptManager.RegisterJs(Url.Content("~/Scripts/my-menu-order.js"));
     * */
}

<div class="container">
    <div class="alert alert-info alert-block">
        <h4>Coming soon!</h4>
        <p>Aquí se mostrará el pedido del día (ya realizado o a realizarse).</p>
        <p>Se mostrará el resumen de cantidades por menú y por oficina y un detalle de lo seleccionado por cada empleado con un link a la página de edición de su menú.</p>
    </div>
</div>
